﻿@{
    ViewBag.Title = "Accueil";
}
<link href="~/Content/design.css" rel="stylesheet" />

        <h2>Bienvenue sur Sales management</h2><br />

        <p><i class="homepage-para-icon fa fa-lightbulb-o" aria-hidden="true"></i> Cette application permet d'affecter un établissement Cap data à un groupe et  de rattacher un groupe à un commercial.</p>
        Vous pouvez (selon vos droits) : <br />
        @{var canDo = "Consulter, créer et / ou modfier des";
            if (!User.IsInRole("GSA-ABW-SM-W"))
            {
                canDo = "Consulter les";
            }
        }

        <table class="homepage-table">
            <tr class="homepage-table-row">
                <td><li class="homepage-box box1"><a href="/Sales">@canDo commerciaux</a></li></td>
                <td><li class="homepage-box box2"><a href="/Groups">@canDo groupes</a></li></td>
                <td><li class="homepage-box box3"><a href="/SalesGroups">@canDo liaisons entre les commerciaux et les groupes</a></li></td>
            </tr>
            <tr class="homepage-table-row">
                <td>
                    @if (User.IsInRole("GSA-ABW-SM-W"))
                    {
                        <li class="homepage-box box4"><a href="/ETB">Lier les établissements à des groupes</a></li>
                    }
                </td>
                <td> <li class="homepage-box box5"><a href="/GE">@canDo liaisons entre les établissements et les groupes</a></li></td>
                <td> <li class="homepage-box box6"><a href="/Help">Afficher l'aide</a></li></td>
            </tr>
        </table>
        <br /><p/>

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>

<style>
    li {
        list-style-type: none;
    }
    .homepage-para-icon{
        text-align: center;
    }
</style>