﻿@{
    ViewBag.Title = "Lier un établissement à un groupe";
}
<h2>Lier un établissement à un groupe</h2>
<br />

<div class="container">
    <br />
    <form action="#" id="myForm" role="form" data-toggle="validator" method="post" accept-charset="utf-8">
        <div id="smartwizard">
            <ul>
                <li><a href="#step-1">Etape 1<br /><small>Recherche de l'établissement</small></a></li>
                <li><a href="#step-2">Etape 2<br /><small>Rattachement au groupe</small></a></li>
            </ul>
            <div>
                <div id="step-1">
                    <div id="form-step-0" role="form" data-toggle="validator">
                        <div class="form-group">
                            <br />
                            <div class="row">
                                <div class="col-md-5">
                                    <label>Capdata-id</label>
                                    <div class="form-inline">
                                        <input type="number" class="form-control no-spin" id="capdataIdInput">
                                        <button type="button" id="btnSearchByCapDataId"  data-placement="top" title="Rerchercher un établissement en fonction d'un Capdata-id"> <span class="glyphicon glyphicon-search"></span> </button>
                                        <button type="button" class="btnRemove"> <span class="glyphicon glyphicon-remove"></span> </button><br /><br />
                                        <span class="lbError text-danger" id="lbErrorCapdataId"><i class="homepage-para-icon fa fa-warning" aria-hidden="true"></i>  Saisissez un Capdata-Id valide.</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h2>Ou</h2>
                                </div>
                                <div class="col-md-4">
                                    <label>Recherche de l'établissement</label><span> (nom, siret, adresse)</span>
                                    <div class="form-inline">
                                        <input type="text" class="form-control" id="ETBInput">
                                        <button type="button" id="btnSearchByEtb" data-placement="top" title="Rerchercher un établissement en fonction d'un libellé"> <span class="glyphicon glyphicon-search"></span> </button>
                                        <button type="button" class="btnRemove"> <span class="glyphicon glyphicon-remove"></span> </button>
                                        <br /><br />
                                              <span class="lbError text-danger" id="lbErrorLibelle"><i class="homepage-para-icon fa fa-warning" aria-hidden="true"></i>  Saisissez une libellé valide.</span>
                                    </div>
                                </div>

                            </div>
                            <br /><p />
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Recherche de l'établissement en fonction d'une date</label>
                                    <div class="col-lg-8  input-group">
                                        <input type="date" id="ETBDate" value="" class="form-control" max="@DateTime.Today.ToString("yyyy-MM-dd")" />&nbsp;
                                        <button type="button" id="btnSearchByDate" data-placement="top" title="Rerchercher un établissement en fonction d'une date"> <span class="glyphicon glyphicon-search"></span> </button>
                                        <button type="button" class="btnRemove"> <span class="glyphicon glyphicon-remove"></span> </button><br /><br />
                                        <span class="lbError text-danger" id="lbErrorDate"><i class="homepage-para-icon fa fa-warning" aria-hidden="true"></i>  Saisissez une date valide.</span>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <label>Recherche de l'établissement en fonction d'une période</label>
                                    <div class="form-group">
                                        <span for="ETBStartDate" class="col-lg-3">Date de début:</span>
                                        <div class="col-lg-5">
                                            <input type="date" id="ETBStartDate" value="" class="form-control" max="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                        </div><br />
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <span for="ETBEndDate" class="col-lg-3">Date de fin:</span>
                                        <div class="col-lg-5">
                                            <input type="date" id="ETBEndDate" value="" class="form-control" max="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                        </div>
                                        <button type="button" id="btnSearchByPeriod"  data-placement="top" title="Rerchercher un établissement en fonction d'une période"> <span class="glyphicon glyphicon-search"></span> </button>
                                        <button type="button" class="btnRemove"> <span class="glyphicon glyphicon-remove"></span> </button><br /><br />
                                    </div>

                                    <span class="lbError text-danger" id="lbErrorPeriodDate"><i class="homepage-para-icon fa fa-warning" aria-hidden="true"></i>  Saisissez une date de début et une date de fin valide.</span>
                                </div>
                            </div>
                        </div>
                        @*<div>
                                <span>Afficher les établissements rattachés </span><input type="checkbox" id="displayAllEtb" value="" checked />
                            </div>*@
                        <br /><p />
                        <div class="loadingDiv" style="margin-bottom:3%; margin-top:3%;">
                            <img src="~/ajax-loader.gif" />&nbsp;
                            <b class="text-primary">Recherche en cours ... </b>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div id="infosETB">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step-2">
                    <input type="hidden" id="etb_idInput" value="" />
                    <div id="infossGE">

                    </div>
                    <div id="searchGroup" class="hidden">
                        <div id="dataFound"></div><br/>
                        <label>Recherche du groupe:</label>
                        <div class="form-inline" id="searchInputBtn">
                            <input type="text" class="form-control" id="searchGroupInput" />
                            <button type="button" id="searchGroupBtn"> <span class="glyphicon glyphicon-search"></span> </button>
                        </div>
                        <div class="loadingDiv" style="margin-bottom:3%; margin-top:3%;">
                            <img src="~/ajax-loader.gif" />&nbsp;
                            <b class="text-primary">Recherche en cours ... </b>
                        </div>
                        <br />
                        <div class="col-md-12">
                            <table id="groupsTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nom du groupe</th>
                                        <th>Region</th>
                                        <th>Taille</th>
                                        <th>Secteur</th>
                                        <th>Segment</th>
                                        <th>Rattacher</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyGroups">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <label class="text-danger lbError"><i class="homepage-para-icon fa fa-warning" aria-hidden="true"></i> Veuillez saisir tous les champs.</label>
                </div>
            </div>
        </div>
    </form>

</div>
<div class="modal fade" id="deleteGE" tabindex="-1" role="dialog" aria-labelledby="deleteGE" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer la liaison</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="deleteGEetbid" value="" />
                <input type="hidden" id="deleteGEidgroupe" value="" />

                <span>Voulez-vous supprimer la liaison ?</span>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" onclick="DeleteGE()">Supprimer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var $loading = $('.loadingDiv').hide();

        $('#ETBSelect').selectpicker();

        // Smart Wizard
        $('#smartwizard').smartWizard({
            selected: 0,
            theme: 'dots',
            transitionEffect: 'fade',
            toolbarSettings: {
                toolbarPosition: 'bottom'
            },
            anchorSettings: {
                markDoneStep: true, // add done css
                markAllPreviousStepsAsDone: true, // When a step selected by url hash, all previous steps are marked done
                removeDoneStepOnNavigateBack: true, // While navigate back done step after active step will be cleared
                enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
            }
        });

        $("#smartwizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
            var elmForm = $("#form-step-" + stepNumber);
            // stepDirection === 'forward' :- this condition allows to do the form validation
            // only on forward navigation, that makes easy navigation on backwards still do the validation when going next
            if (stepDirection === 'forward' && elmForm) {
                elmForm.validator('validate');
                var elmErr = elmForm.children('.has-error');
                if (elmErr && elmErr.length > 0) {
                    // Form validation failed
                    return false;
                }
            }
            return true;
        });

        $(".btnRemove").click(function () {
            $("#ETBInput").val("");
            $("#capdataIdInput").val("");
            $("#ETBDate").val("");
            $("#ETBStartDate").val("");
            $("#ETBEndDate").val("");
            $("#ETBEndDate").prop("min", "");

            $("#infosETB").empty();
        });

        $("#ETBStartDate").change(function () {
            var startValue = this.value;
            var endValue = $("#ETBEndDate").val();

            if (endValue < startValue) {
                $("#ETBEndDate").val(startValue);
            }
            $("#ETBEndDate").prop("min", startValue);
        });

        $(document).ajaxStart(function () {
            $loading.show();
        })
        $(document).ajaxStop(function () {
            $loading.hide();
        });

    });
    //Step 1
    $("#capdataIdInput").keyup(function () {
        $("#ETBInput").val("");
        $("#ETBDate").val("");
        $("#ETBStartDate").val("");
        $("#ETBEndDate").val("");
    });
    $("#ETBInput").keyup(function () {
        $("#capdataIdInput").val("");
        $("#ETBDate").val("");
        $("#ETBStartDate").val("");
        $("#ETBEndDate").val("");

    });
    $("#ETBDate").change(function () {
        $("#ETBInput").val("");
        $("#capdataIdInput").val("");
        $("#ETBStartDate").val("");
        $("#ETBEndDate").val("");
    });
    $("#ETBStartDate,#ETBEndDate").change(function () {
        $("#ETBInput").val("");
        $("#capdataIdInput").val("");
        $("#ETBDate").val("");
    });
    //Step 2

    $("#btnSearchByEtb").click(function () {
        var value = $("#ETBInput").val();
        $(".lbError").hide();

        if (value != "") {
            $.ajax({
                url: '/ETB/GetETB?libelle=' + value + "&page=1&pageSize=10",
                success: function (data) {
                    $("#infosETB").empty();
                    $("#infosETB").append(data);
                    SetDataTable();
                }
            });
        }
        else {
            $("#lbErrorLibelle").show();
        }

    });
    $("#btnSearchByDate").click(function () {
        var value = $("#ETBDate").val();
        $(".lbError").hide();

        if (value != "") {

            $.ajax({
                url: '/ETB/GetETB?date=' + value + "&page=1&pageSize=10",
                success: function (data) {
                    $("#infosETB").empty();
                    $("#infosETB").append(data);
                    SetDataTable();
                }
            });
        }
        else {
            $("#lbErrorDate").show();
        }


    });
    $("#btnSearchByPeriod").click(function () {
        var startDate = $("#ETBStartDate").val();
        var endDate = $("#ETBEndDate").val();

        $(".lbError").hide();

        if (startDate != "" && endDate != "") {
            $.ajax({
                url: '/ETB/GetETB?startDate=' + startDate + '&endDate=' + endDate + "&page=1&pageSize=10",
                success: function (data) {
                    $("#infosETB").empty();
                    $("#infosETB").append(data);
                    SetDataTable();
                }
            });
        }
        else {
            $("#lbErrorPeriodDate").show();
        }
    });
    $("#btnSearchByCapDataId").click(function () {
        var value = $("#capdataIdInput").val();
        $(".lbError").hide();

        if (value != "") {

            $.ajax({
                url: '/ETB/GetETB?capdataId=' + value + "&page=1&pageSize=10",
                success: function (data) {
                    $("#infosETB").empty();
                    $("#infosETB").append(data);
                    SetDataTable();
                }
            });
        }
        else {
            $("#lbErrorCapdataId").show();
        }
    });
    $("#searchGroupBtn").click(function () {
        var value = $("#searchGroupInput").val();
        $.ajax({
            url: '/ETB/SearchGroup?libelle=' + value,
            success: function (data) {
                $('#groupsTable').DataTable().destroy();

                $("#tbodyGroups").empty();
                $("#tbodyGroups").append(data);


                $('#groupsTable').DataTable({
                    "language": {
                        "zeroRecords": "Aucune information n\'a été trouvée.",
                        "sSearch": "Recherche",
                        "lengthMenu": "Affichage de _MENU_ lignes par page",
                        "info": "Affichage de la page _PAGE_ sur _PAGES_",
                    }
                });
            }
        });
    });

    function ETBSelectedBtn(ETB_ID) {
        $('#smartwizard').smartWizard('next');
        $("#searchGroup").addClass("hidden");

        $("#etb_idInput").val(ETB_ID);
        $.ajax({
            url: '/ETB/EG?ETB_id=' + ETB_ID,
            success: function (data) {
                $("#infossGE").empty();
                $("#infossGE").append(data);
            }

        });
    };
    function SearchGroupDiv() {
        $("#dataFound").empty();
        $("#searchGroup").removeClass("hidden");
        $("#createGroup").addClass("hidden");
        $("#SearchByKeyWordsDiv").addClass("hidden");

        $(".btnSearchGrp").prop("disabled", true);
        $(".btnCreateGrp").prop("disabled", false);
        $(".btnSearchByKeyWords").prop("disabled", false);

        $("#searchInputBtn").show();

        $(".lbError").hide();
    }
    function CreateGroupDiv() {
        $("#createGroup").removeClass("hidden");
        $("#SearchByKeyWordsDiv").addClass("hidden");
        $("#searchGroup").addClass("hidden");

        $(".btnCreateGrp").prop("disabled", true);
        $(".btnSearchGrp").prop("disabled", false);
        $(".btnSearchByKeyWords").prop("disabled", false);

        $(".lbError").hide();

        $.ajax({
            url: '/Groups/AddGroup',
            success: function (data) {
                $("#divCreate").empty();
                $("#divCreate").append(data);
                SetSegment();
                GetSizeInfos($("#tailleGrp").val());
            }
        });

    }

    function CreateGrpForE() {
        var libelle = $("#libelleGrp").val();
        var idRegion = $("#regionGrp").val();
        var idSecteur = $("#secteurGrp").val();
        var idTaille = $("#tailleGrp").val();
        var idSegment = $("#selectSegment").val();
        var idCom = $("#selectCom").val();
        var etb_id = $("#etb_idInput").val();

        if (libelle != "") {
            $.ajax({
                url: '/ETB/CreateGroupForE?libelle=' + libelle + "&idRegion=" + idRegion + "&idSecteur=" + idSecteur + "&idTaille=" + idTaille + "&idSegment=" + idSegment + "&idCom=" + idCom + "&etb_id=" + etb_id,
                success: function (data) {
                    $(".sw-btn-prev").trigger("click");
                    var libelle = "";
                    if ($("#ETBInput").val())
                        libelle = "libelle=" + $("#ETBInput").val();
                    else if ($("#capdataIdInput").val())
                        libelle = "capdataId=" + $("#capdataIdInput").val();
                    else if ($("#ETBDate").val())
                        libelle = "date=" + $("#ETBDate").val();
                    else if ($("#ETBStartDate").val() && $("#ETBEndDate").val())
                        libelle = "startDate=" + $("#ETBStartDate").val() + "&endDate=" + $("#ETBEndDate").val();
                    $.ajax({
                        url: '/ETB/GetETB?' + libelle + "&page=1&pageSize=" + $("#selectPageSize").val(),
                        success: function (data) {
                            $("#infosETB").empty();
                            $("#infosETB").append(data);
                            SetDataTable();
                            toastr.clear();
                            toastr.success("<br/>La liaison avec le nouveau groupe a été faite avec succès !", "ABILWAYS - Administration");
                        }
                    });
                }

            });
        }
        else {
            $(".lbError").show();
        }
    }

    function SearchByKeyWordsDiv() {
        $("#SearchByKeyWordsDiv").removeClass("hidden");
        $("#searchGroup").addClass("hidden");
        $("#createGroup").addClass("hidden");

        $("#searchInputBtn").hide();

        $(".btnCreateGrp").prop("disabled", false);
        $(".btnSearchByKeyWords").prop("disabled", true);
        $(".btnSearchGrp").prop("disabled", false);

        $(".lbError").hide();
    }

    function SearchByKeyWords(word) {
        $.ajax({
            url: '/ETB/SearchGroup?libelle=' + word,
            success: function (data) {
                $("#searchGroup").removeClass("hidden");
                $("#searchInputBtn").hide();
                $('#groupsTable').DataTable().destroy();

                $("#tbodyGroups").empty();
                $("#tbodyGroups").append(data);

                $('#groupsTable').DataTable({
                    "language": {
                        "zeroRecords": "Aucune information n\'a été trouvée.",
                        "sSearch": "Recherche",
                        "lengthMenu": "Affichage de _MENU_ lignes par page",
                        "info": "Affichage de la page _PAGE_ sur _PAGES_",
                    }
                });

            }
        });
    }

    function AddCorrepondanceEG(idGroup) {
        var ETB_ID = $('#etb_idInput').val();
        $.ajax({
            url: '/GE/AddCorrespondanceEG?ETB_ID=' + ETB_ID + "&idGroup=" + idGroup,
            success: function (data) {
                $(".sw-btn-prev").trigger("click");
                var libelle = "";
                if ($("#ETBInput").val())
                    libelle = "libelle=" + $("#ETBInput").val();
                else if ($("#capdataIdInput").val())
                    libelle = "capdataId=" + $("#capdataIdInput").val();
                else if ($("#ETBDate").val())
                    libelle = "date=" + $("#ETBDate").val();
                else if ($("#ETBStartDate").val() && $("#ETBEndDate").val())
                    libelle = "startDate=" + $("#ETBStartDate").val() + "&endDate=" + $("#ETBEndDate").val();
                $.ajax({
                    url: '/ETB/GetETB?' + libelle + "&page=1&pageSize=" + $("#selectPageSize").val(),
                    success: function (data) {
                        $("#infosETB").empty();
                        $("#infosETB").append(data);
                        SetDataTable();
                        toastr.clear();
                        toastr.success("<br/>La liaison a été faite avec succès !", "ABILWAYS - Administration");
                    }
                });
            }
        });
    }

    function SetDataTable() {
        $('#tableETB').DataTable({
            "language": {
                "zeroRecords": "Aucune information n\'a été trouvée.",
                "sSearch": "Recherche",
            },
            "searching": false,
            "lenghtPage": false,
            paging: false,
            info: false,
            "aaSorting": [5, 'asc'],
            'aoColumns': [
                { sWidth: "15%", bSearchable: false, bSortable: true },
                { sWidth: "15%", bSearchable: false, bSortable: true },
                { sWidth: "15%", bSearchable: false, bSortable: true },
                { sWidth: "25%", bSearchable: false, bSortable: true },
                { sWidth: "15%", bSearchable: false, bSortable: true },
                { sWidth: "15%", bSearchable: false, bSortable: true },
                { sWidth: "15%", bSearchable: false, bSortable: true }
            ], dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    className: 'btn btn-secondary btnExport',
                    text: 'Export excel',
                    title: 'SalesManagement - Informations des établissements - Recherche ' + $("#capdataIdInput").val() + $("#ETBInput").val() + $("#ETBDate").val() + $("#ETBStartDate").val() + " " + $("#ETBEndDate").val(),
                    exportOptions: {
                        modifier: {
                            order: 'index',
                            page: 'all',
                            search: 'none'
                        },
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                }
            ]
        });
        if ($("#selectPageSize").val() == $('#selectPageSize option:last').val())
            $('.btnExport').show();
        else
            $('.btnExport').hide();
    }

    function Pagination(page, libelle, type, pageSize) {
        if (type == "period") {
            var split = libelle.split(",")
            libelle = "startDate=" + split[0] + "&endDate=" + split[1];
        }
        else {
            libelle = type + "=" + libelle;
        }
        $(window).scrollTop(0);
        $.ajax({
            url: '/ETB/GetETB?' + libelle + '&page=' + page + '&pageSize=' + pageSize,
            success: function (data) {
                $("#infosETB").empty();
                $("#infosETB").append(data);
                $("#tableETB").DataTable().destroy();
                SetDataTable();

            }
        });
    }

    function DeleteGE() {
        var etb_id = $("#deleteGEetbid").val();
        var idGroupe = $("#deleteGEidgroupe").val();

        $.ajax({
            url: '/GE/DeleteCorrespondanceEG?ETB_ID=' + etb_id + "&idGroup=" + idGroupe,
            success: function (data) {
                var libelle = "";
                if ($("#ETBInput").val())
                    libelle = "libelle=" + $("#ETBInput").val();
                else if ($("#capdataIdInput").val())
                    libelle = "capdataId=" + $("#capdataIdInput").val();
                else if ($("#ETBDate").val())
                    libelle = "date=" + $("#ETBDate").val();
                else if ($("#ETBStartDate").val() && $("#ETBEndDate").val())
                    libelle = "startDate=" + $("#ETBStartDate").val() + "&endDate=" + $("#ETBEndDate").val();
                $.ajax({
                    url: '/ETB/GetETB?' + libelle + "&page=1&pageSize=" + $("#selectPageSize").val(),
                    success: function (data) {
                        $("#infosETB").empty();
                        $("#infosETB").append(data);
                        SetDataTable();
                        toastr.clear();
                        toastr.info("<br/>La liaison a été supprimée avec succès !", "ABILWAYS - Administration");
                    }
                });
            }
        });
        $('#deleteGE').modal('toggle');

    }


</script>
<style>
    .no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important;
        -moz-appearance: textfield !important;
    }
</style>