﻿@model List<GroupsCorrespondancesModel>
@{
    ViewBag.Title = "Informations des groupes";
}
<h2>Informations des groupes</h2>
@if (User.IsInRole("GSA-ABW-SM-W"))
{
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createGroupModal" id="createGroupModalBtn">Créer un groupe</button>
    <br />
    <p />
}
<br />
<p />
<div class="col-md-12">
    <label>Recherche en fonction d'une période</label>
    <div class="form-group">
        <span for="ETBStartDate" class="col-lg-3">Date de début:</span>
        <div class="col-lg-5">
            <input type="date" id="ETBStartDate" value="" class="form-control" max="@DateTime.Today.ToString("yyyy-MM-dd")" />
        </div><br />
    </div>
    <br />
    <div class="form-group">
        <span for="ETBEndDate" class="col-lg-3">Date de fin:</span>
        <div class="col-lg-5">
            <input type="date" id="ETBEndDate" value="" class="form-control" max="@DateTime.Today.ToString("yyyy-MM-dd")" />
        </div>
        <button type="button" id="btnSearchByPeriod"> <span class="glyphicon glyphicon-search"></span> </button>
        <button type="button" class="btnRemove"> <span class="glyphicon glyphicon-remove"></span> </button><br /><br />
    </div>

    <span class="lbError text-danger" id="lbErrorPeriodDate"><i class="homepage-para-icon fa fa-warning" aria-hidden="true"></i> Saisissez une date de début et une date de fin valide.</span>
</div>
<br />
<p />
<button class="btn" id="btnDeleteSearch"><i class="glyphicon glyphicon-remove"></i> Effacer la recherche</button>

<div class="loadingDiv" style="margin-bottom:3%; margin-top:3%;">
    <img src="~/ajax-loader.gif" />&nbsp;
    <b class="text-primary">Recherche en cours ... </b>
</div>

<div class="row">
    <br />
    <br />
    <br />
    <br />
    <div class="line"></div>
</div>
<div id="tableDiv" class="hidden">
    @Html.Partial("Partial/_GetGroups", Model);
</div>
<div class="modal fade" id="editGroupModal" tabindex="-1" role="dialog" aria-labelledby="editGroupModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier un groupe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="SaveEditGroup()">Modifier</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Créer un groupe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-bodyCreate">

            </div>
            <label class="text-danger col-lg-offset-1 lbError" id="errorCreate"><i class="homepage-para-icon fa fa-warning" aria-hidden="true"></i>  Veuillez saisir tous les champs.</label>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="CreateGroup()">Créer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmationEditGroupModal" tabindex="-1" role="dialog" aria-labelledby="confirmationEditGroupModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation de la modification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="SaveEditGroup()">Modifier</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog" aria-labelledby="deleteGroupModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer un commercial</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <input type="hidden" id="deleteGroupId" value="" />
                <span>Voulez-vous supprimer le groupe <b class="deleteGroupeName text-info"></b>?</span><br /><p /><p />

                <i class="homepage-para-icon fa fa-warning" aria-hidden="true"></i> Cette action supprimera de manière définitive les:<br />
                - <b id="nbCorrespCom" class="text-danger"></b> liaisons aux commerciaux,<br />
                - <b id="nbCorrespETB" class="text-danger"></b> liaisons aux établissements.<br /><p />
                Je souhaite continuer <input type="checkbox" id="checkboxConfirmation" value="" />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" id="deleteGroupBtn" disabled>Supprimer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>

<script>
    $(document).ready(function () {
        $(".loadingDiv,#btnDeleteSearch").hide();

        $('#deleteGroupModal').on('show.bs.modal', function (event) {

            $("#deleteSaleBtn").prop("disabled", true);
            $("#checkboxConfirmation").prop("checked", false);

            var button = $(event.relatedTarget);
            var modal = $(this);

            var idGroupe = button.data('idgroupe');
            var libelle = button.data('libelle');

            modal.find('#deleteGroupId').val(idGroupe);
            modal.find('.deleteGroupeName').empty();
            modal.find('.deleteGroupeName').append(libelle);

            $.ajax({
                url: "/Groups/GetNbCorresp?id=" + idGroupe,
                success: function (data) {
                    data = data.split(",");
                    $("#nbCorrespCom,#nbCorrespETB").empty();
                    $("#nbCorrespCom").append(data[0]);
                    $("#nbCorrespETB").append(data[1]);
                }
            });
        });
        $("#checkboxConfirmation").change(function () {
            if ($(this).is(':checked')) {
                $("#deleteGroupBtn").prop("disabled", false);
            }
            else {
                $("#deleteGroupBtn").prop("disabled", true);
            }
        });
        $("#deleteGroupBtn").click(function () {
            toastr.clear();
            toastr.info("<br/>La suppression du groupe a été faite avec succès !", "ABILWAYS - Administration");

            var idGroupe = $("#deleteGroupId").val();

            $.ajax({
                url: '/Groups/DeleteGroup?id=' + idGroupe,
                success: function (data) {
                    location.reload();
                }
            });
        });
        $("#ETBStartDate").change(function () {
            var startValue = this.value;
            var endValue = $("#ETBEndDate").val();

            if (endValue < startValue) {
                $("#ETBEndDate").val(startValue);
            }
            $("#ETBEndDate").prop("min", startValue);
        });
        $("#btnSearchByPeriod").click(function () {
            var startDate = $("#ETBStartDate").val();
            var endDate = $("#ETBEndDate").val();

            if (startDate && endDate) {
                $("#lbErrorPeriodDate").addClass("hidden");

                $(".line").parent().hide();
                $("#tableDiv").hide();
                $(".loadingDiv,#btnDeleteSearch").show();

                $.ajax({
                    url: '/Groups/GetGroups?startDate=' + startDate + "&endDate=" + endDate,
                    success: function (data) {
                        $("#tableDiv").empty();
                        $("#tableDiv").append(data);
                        $("#tableDiv").removeClass("hidden");
                        $(".line").parent().show();
                        $("#tableDiv").show();
                        $(".loadingDiv").hide();
                        SetDataTable();
                    }
                });
            }
            else {
                $("#lbErrorPeriodDate").show();
            }
        });
        $("#btnDeleteSearch").click(function () {
            $(this).hide();
            $("#ETBStartDate").val("");
            $("#ETBEndDate").val("");
            $("#ETBEndDate").prop("min", "");
            $("#tableDiv").hide();
            $(".loadingDiv").show();
            $.ajax({
                url: '/Groups/GetAllGroups',
                success: function (data) {
                    $("#tableDiv").empty();
                    $("#tableDiv").append(data);
                    $("#tableDiv").removeClass("hidden");
                    $(".line").parent().show();
                    $("#tableDiv").show();
                    $(".loadingDiv").hide();
                    SetDataTable();
                }
            });
        });

        SetDataTable();
        $("#tableDiv").removeClass("hidden");

    });

    function FillEditModal(idGroupe, idRegion, idTaille, idSecteur, idSegment, idCom) {
        $.ajax({
            url: '/Groups/GetInfosGroup?idGroup=' + idGroupe + "&partialView=../Groups/Partial/_EditModal_PartialView",
            success: function (data) {
                $("#modal-body").empty();
                $("#modal-body").html(data);

                $("#idGroupInput").val(idGroupe);
                $("#libelleGrpInput").val($("#libelleInput").val());
                $("#idRegionInput").val(idRegion);
                $("#idTailleInput").val(idTaille);
                $("#idSecteurInput").val(idSecteur);
                $("#idSegmentInput").val(idSegment);
                $("#idComInput").val(idCom);

                $("#regionGrp").val(idRegion);
                $("#tailleGrp").val(idTaille);
                $("#secteurGrp").val(idSecteur);
                $("#selectSegment").val(idSegment);
                $("#selectCom").val(idCom);

                GetSizeInfos(idTaille);
            }
        });
    }

    function SaveEditGroup() {
        var idGroupe = $("#idGroupInput").val();
        var libelle = $("#libelleInput").val();
        var idRegion = $("#regionGrp").val();
        var idTaille = $("#tailleGrp").val();
        var idSecteur = $("#secteurGrp").val();
        var idSegment = $("#selectSegment").val();
        var newIdCom = $("#selectCom").val();
        var oldIdCom = $("#idComInput").val();

        if (newIdCom != oldIdCom) {
            $.ajax({
                url: '/Groups/EditGroup?idGroup=' + idGroupe + "&libelle=" + libelle + "&idRegion=" + idRegion + "&idTaille=" + idTaille + "&idSecteur=" + idSecteur + "&idSegment=" + idSegment + "&idCom=" + newIdCom,
                success: function (data) {
                    toastr.clear();
                    toastr.success("<br/>La modification du groupe a été faite avec succès !", "ABILWAYS - Administration");
                    location.reload();
                }
            });
        }
        else {
            $.ajax({ //update
                url: '/Groups/EditGroup?idGroup=' + idGroupe + "&libelle=" + libelle + "&idRegion=" + idRegion + "&idTaille=" + idTaille + "&idSecteur=" + idSecteur + "&idSegment=" + idSegment + "&idCom=" + oldIdCom,
                success: function (data) {
                    toastr.clear();
                    toastr.success("<br/>La modification du groupe a été faite avec succès !", "ABILWAYS - Administration");
                    location.reload();
                }
            });
        }
    }
    function ChangeInfos() {
        var newLibelle = $("#libelleInput").val();
        var newIdRegion = $("#selectRegion").val();
        var newIdSecteur = $("#selectSecteur").val();
        var newIdTaille = $("#selectTaille").val();
        var newIdSegment = $("#selectSegment").val();
        var newIdCom = $("#selectCom").val();

        var oldLibelle = $("#libelleGrpInput").val();
        var oldIdRegion = $("#idRegionInput").val();
        var oldIdSecteur = $("#idSecteurInput").val();
        var oldIdTaille = $("#idTailleInput").val();
        var oldIdSegment = $("#idSegmentInput").val();
        var oldIdCom = $("#idComInput").val();


        if (newIdCom != oldIdCom) {
            $("#editNote").removeClass("hidden");
        }
        else {
            $("#editNote").addClass("hidden");
        }

        if (newLibelle != oldLibelle || newIdRegion != oldIdRegion || newIdSecteur != oldIdSecteur || newIdTaille != oldIdTaille || newIdSegment != oldIdSegment || newIdCom != oldIdCom) {
            $("#editInfos").removeClass("hidden");
        } else {
            $("#editInfos").addClass("hidden");
        }
    }
    function SetDataTable() {
        let oTable = $('.table').DataTable({
            "language": {
                "zeroRecords": "Aucune information n\'a été trouvée.",
                "sSearch": "Recherche par mot-clé",
                "lengthMenu": "Affichage de _MENU_ lignes par page",
                "info": "Affichage de la page _PAGE_ sur _PAGES_",
            }, dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    className: 'btn btn-secondary',
                    text: 'Export excel',
                    title: 'SalesManagement - Liste des groupes',
                    exportOptions: {
                        modifier: {
                            order: 'index',
                            page: 'all',
                            search: 'none'
                        },
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                }
            ]
        });
    }
</script>
