﻿@model List<SalesManagement.DataControllers.DATA_COMMERCIAUX>
<b><span>Sélectionnez un commercial</span></b>
<select class="form-control" id="selectCom" data-live-search="true" onchange="GetGroups(this.value)">
    @foreach (var com in Model)
    {
        <option value="@com.IDCOMMERCIAL">@com.PRENOM.Substring(0, 1).ToUpper()@com.PRENOM.Substring(1).ToLower() @com.NOM.ToUpper() </option>
    }
</select>
<p />

<b><span>Sélectionnez un groupe</span></b>
<div id="selectGroupDiv">

</div>

<p>
    <div id="infosGroup">

    </div>
</p>
