﻿@model List<Corresp_ComGrpBU>
@if (Model.Count != 0)
{
    foreach (var correspondance in Model)
    {
        <span>Une correspondance a été trouvé avec le commercial <label>@correspondance.NomPrenomCom</label> pour le groupe <span class="text-success">@correspondance.LibelleGroupe</span> depuis le <span class="text-success">@correspondance.DateDebut.Value.ToShortDateString()</span></span>
        <br />
        <p />
    }
    <span class="text-info">Note <i class="homepage-para-icon fa fa-lightbulb-o" aria-hidden="true"></i>: Ajouter cette nouvelle correspondance mettra fin à la précédente.</span>
}