﻿@model List<Corresp_ComGrpBU>
<table id="salesTable" class="table table-striped">
    <thead>
        <tr>
            <th>Nom du groupe</th>
            <th>Segment</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            @if (User.IsInRole("GSA-ABW-SM-W"))
            {
                <th>Supprimer la liaison</th>
            }
        </tr>
    </thead>
    <tbody class="tbody">
        @{
            object dtDebut, dtFin;
            foreach (var correspondance in Model)
            {
                dtDebut = correspondance.DateDebut.HasValue ? dtDebut = correspondance.DateDebut.Value.ToShortDateString() : dtDebut = "Non renseigné";
                dtFin = correspondance.DateFin.HasValue ? dtFin = correspondance.DateFin.Value.ToShortDateString() : dtFin = "Non renseigné";

                <tr>
                    <td>@correspondance.LibelleGroupe</td>
                    <td>@correspondance.LibelleSegment</td>
                    <td>@dtDebut</td>
                    <td>@dtFin</td>
                    <td>
                        @{
                            if (correspondance.DateFin == null && User.IsInRole("GSA-ABW-SM-W"))
                            {
                                <button class="btn btn-info" data-toggle="modal" data-target="#deleteGroupModal" data-idgroup="@correspondance.IdGroupe" data-idcom="@correspondance.IdCom">Supprimer</button>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
