﻿<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">
            <div class="centering text-center">
                <div class="text-center">
                    <h2 class="without-margin">ERREUR: <span class="text-danger"><big>403</big></span></h2>
                    <h3>Vous n'avez pas les droits pour accèder sur cette page.</h3>
                    <h4 class="text-danger">L'application est pour le moment en lecture seule.</h4>
                </div>
                <div class="text-center">
                    <h3><small>Choisir une option :</small></h3>
                </div>
                <hr>
                <ul class="pager">
                    <li><a href=@Url.Action("Index", "Home")>Dashboard</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
</div>