﻿
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">
            <div class="centering text-center">
                <div class="text-center">
                    <h2 class="without-margin">Erreur: <span class="text-danger"><big>500</big></span> le serveur n'a pas su traiter votre demande.</h2>
                    <h4 class="text-danger">Nous travaillons à corriger ce problème au plus vite</h4>
                </div>
                <div class="text-center">
                    <h3><small>Choisir une option :</small></h3>
                </div>
                <hr>
                <ul class="pager">
                    <li><a href=@Url.Action("Index", "Home")>Dashboard</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
</div>
