﻿@{
    ViewBag.Title = "Informations des établissements rattachés aux groupes";
}
<h2>Informations des établissements rattachés aux groupes </h2>
<br />
@if (User.IsInRole("GSA-ABW-SM-W"))
{
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createGroupModal" id="createGroupModalBtn">Créer un groupe</button>
    <br />
    <p />
}
<br />
<p />
<div class="col-md-12">
    <label>Recherche en fonction d'une période</label>
    <div class="form-group">
        <span for="ETBStartDate" class="col-lg-3">Date de début:</span>
        <div class="col-lg-5">
            <input type="date" id="GEStartDate" value="" class="form-control" max="@DateTime.Today.ToString("yyyy-MM-dd")" />
        </div><br />
    </div>
    <br />
    <div class="form-group">
        <span for="ETBEndDate" class="col-lg-3">Date de fin:</span>
        <div class="col-lg-5">
            <input type="date" id="GEEndDate" value="" class="form-control" max="@DateTime.Today.ToString("yyyy-MM-dd")" />
        </div>
        <button type="button" id="btnSearchByPeriod"> <span class="glyphicon glyphicon-search"></span> </button>
        <button type="button" class="btnRemove"> <span class="glyphicon glyphicon-remove"></span> </button><br /><br />
    </div>

    <span class="lbError text-danger" id="lbErrorPeriodDate"><i class="homepage-para-icon fa fa-warning" aria-hidden="true"></i> Saisissez une date de début et une date de fin valide.</span>
</div>
<br />
<p />
<div id="loadingDiv" style="margin-bottom:3%; margin-top:3%;">
    <img src="~/ajax-loader.gif" />&nbsp;
    <b class="text-primary">Recherche en cours ... </b>
</div>
<div class="row">
    <br />
    <br />
    <br />
    <br />
    <div class="line"></div>
</div>
<div id="MyData">
</div>
<table id="exportData" class="hidden">
</table>
<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Créer un groupe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-bodyCreate">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="CreateGroup()">Créer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editGE" tabindex="-1" role="dialog" aria-labelledby="editGE" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modification de la correspondance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="correspondanceGroupModalBody">
                <input type="hidden" id="editGEetbid" value="" />
                <span>Nom de l'établissement: </span><label class="text-info" id="editGEetb_name"></label>
                <div id="selectGrp">

                </div>
                <div id="infosGroup">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" onclick="EditGE()">Modifier</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteGE" tabindex="-1" role="dialog" aria-labelledby="deleteGE" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer la liaison</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="deleteGEetbid" value="" />
                <input type="hidden" id="deleteGEidgroupe" value="" />

                <span>Voulez-vous supprimer la liaison ?</span>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" onclick="DeleteGE()">Supprimer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>


<script>

    $(document).ready(function () {
        let $loading = $('#loadingDiv').hide();

        $.ajax({
            url: '/GE/GetGE?libelle=&page=1&pageSize=10',
            success: function (data) {
                $("#MyData").empty();
                $("#MyData").append(data);
                SetDataTable(false, 10, false);
                RemoveDuplicateOption();
            }
        });

        $('#editGE').on('show.bs.modal', function (event) {

            var button = $(event.relatedTarget);
            var etbid = button.data('etbid');
            var idgroupe = button.data('idgroupe');
            var etb_name = button.data('etbname');

            var modal = $(this);

            modal.find('#editGEetbid').val(etbid);
            modal.find("#editGEetb_name").empty();
            modal.find("#editGEetb_name").append(etb_name);
            GetGroups(idgroupe);
            modal.find('#selectGroup').val(idgroupe);

        });
        $("#GEStartDate").change(function () {
            var startValue = this.value;
            var endValue = $("#GEEndDate").val();

            if (endValue < startValue) {
                $("#GEEndDate").val(startValue);
            }
            $("#GEEndDate").prop("min", startValue);
        });
        $("#GEEndDate").change(function () {
            var startValue = $("#GEStartDate").val();
            var endValue = this.value;
            if (startValue == "" || (startValue > endValue)) {
                $("#GEStartDate").val(endValue);
            }
        });
        $("#btnSearchByPeriod").click(function () {
            var startDate = $("#GEStartDate").val();
            var endDate = $("#GEEndDate").val();

            if (startDate && endDate) {
                $("#lbErrorPeriodDate").addClass("hidden");

                $(".line").parent().hide();
                $(".loadingDiv").show();

                ajaxGetGDate(startDate, endDate, 1, 10);
            }
            else {
                $("#lbErrorPeriodDate").show();
            }
        });
        $(".btnRemove").click(function () {
            Pagination(1, '', 10, 'Libelle')
            $("#GEStartDate").val("");
            $("#GEEndDate").val("");
            $("#GEEndDate").prop("min", "");
        });
        $(document).ajaxStart(function () {
            $loading.show();
        })
        $(document).ajaxStop(function () {
            $loading.hide();
        });
    });
    $(document).ready(function () {
        var progressNotifier = $.connection.progressHub;
        // client-side sendMessage function that will be called from the server-side
        progressNotifier.client.sendMessage = function (message, count) {
            // update progress
            UpdateProgress(message, count);
        };
    });
    function GetGroups(idGroupe) {
        $.ajax({
            url: '/GE/GetListGroup',
            success: function (data) {
                $("#selectGrp").empty();
                $("#selectGrp").html(data);

                $('#selectGroup').selectpicker();
                $('#selectGroup').val(idGroupe);
                $('#selectGroup').selectpicker('refresh');
                GetInfoGroup($('#selectGroup').val());
            }
        });
    }
    function EditGE() {
        var etb_id = $("#editGEetbid").val();
        var idGroupe = $("#selectGroup").val();

        $.ajax({
            url: '/GE/EditCorrespondanceEG?ETB_ID=' + etb_id + "&idGroup=" + idGroupe,
            success: function (data) {
                if ($("#GEStartDate").val() && $("#GEEndDate").val()) {
                    Pagination(1, '', 10, 'Date');
                }
                else {
                    Pagination(1, $("#libelle").val(), 10, 'Libelle');
                }
                toastr.clear();
                toastr.info("<br/>La liaison a été modifiée avec succès !", "ABILWAYS - Administration");
            }
        });
        $('#editGE').modal('toggle');

    }
    function DeleteGE() {
        var etb_id = $("#deleteGEetbid").val();
        var idGroupe = $("#deleteGEidgroupe").val();

        $.ajax({
            url: '/GE/DeleteCorrespondanceEG?ETB_ID=' + etb_id + "&idGroup=" + idGroupe,
            success: function (data) {
                if ($("#GEStartDate").val() && $("#GEEndDate").val()) {
                    Pagination(1, '', 10, 'Date');
                }
                else {
                    Pagination(1, $("#libelle").val(), 10, 'Libelle');
                }
                toastr.clear();
                toastr.info("<br/>La liaison a été supprimée avec succès !", "ABILWAYS - Administration");
            }
        });
        $('#deleteGE').modal('toggle');

    }

    function Pagination(page, libelle, pageSize, researchType) {
        $(window).scrollTop(0);

        if (researchType == "Libelle")
            ajaxGetGeLibelle(libelle, page, pageSize, true);
        else {
            ajaxGetGDate($("#GEStartDate").val(), $("#GEEndDate").val(), page, pageSize);
        }
    }

    function ajaxGetGeLibelle(libelle, page, pageSize, lenghtPage) {
        $.ajax({
            url: '/GE/GetGE?libelle=' + libelle + '&page=' + page + '&pageSize=' + pageSize,
            success: function (data) {
                $("#MyData").empty();
                $("#MyData").append(data);
                SetDataTable(lenghtPage, pageSize, true);
                RemoveDuplicateOption();
            }
        });
    }
    function ajaxGetGDate(startDate, endDate, page, pageSize) {
        $.ajax({
            url: '/GE/GetGEByDate?startDate=' + startDate + '&endDate=' + endDate + '&page=' + page + '&pageSize=' + pageSize,
            success: function (data) {
                if (data.success != false) {
                    RemoveProgressBar('success');
                    $("#MyData").empty();
                    $("#MyData").append(data);
                    $(".line").parent().show();
                    SetDataTable(false, pageSize, false);
                    RemoveDuplicateOption();
                }
                else {
                    RemoveProgressBar('failed');
                }
            },
            error: function () {
                RemoveProgressBar('failed');
            }
        });
        StartInvoicing();

    } 
    function RemoveDuplicateOption() {
        var usedNames = {};
        $("select > option").each(function () {
            if (usedNames[this.value]) {
                $(this).remove();
            } else {
                usedNames[this.value] = this.text;
            }
        });
    }
    function SetDataTable(lenghtPage, pageSize, pagination) {
        if ($('#libelle').val() == "" && $('.dataTables_filter input').val() != "") { //si aucune recherche n'est en cours
            var table = $('.table').DataTable({
                "language": {
                    "zeroRecords": "Aucune information n\'a été trouvée.",
                    "sSearch": "Recherche",
                    "lengthMenu": "Affichage de _MENU_ lignes par page",
                }, "lengthChange": lenghtPage
                , "pageLength": pageSize,
                "bPaginate": false,
                "info": false,
                initComplete: function () {
                    var input = $('.dataTables_filter input').unbind(),
                        self = this.api(),
                        $searchButton = $('<button>')
                            .text('Rechercher')
                            .addClass('btn btn-success')
                            .click(function () {
                                var val = $('.dataTables_filter input').val();
                                $.ajax({
                                    url: '/GE/GetGE?libelle=' + val + '&page=' + 1 + '&pageSize=10',
                                    success: function (data) {
                                        if (data.success != false) {
                                            RemoveProgressBar('success');
                                            $("#MyData").empty();
                                            $("#MyData").append(data);
                                            SetDataTable(true, 10, true);
                                            RemoveDuplicateOption();
                                        }
                                        else {
                                            RemoveProgressBar('failed');
                                        }
                                    },
                                    error: function (){
                                        RemoveProgressBar('failed');
                                    }
                                });
                                StartInvoicing();
                                $("#libelle").val(this.value);
                            }),
                        $clearButton = $('<button>')
                            .text('Effacer')
                            .addClass('btn btn-secondary')
                            .click(function () {
                                input.val('');
                            })
                    $('.dataTables_filter').append($searchButton, '  ', $clearButton);
                    $("table > tbody > tr").each(function () {
                        var siret = $(this).find('td').eq(1).html();
                        if (siret != "Non renseigné") {
                            $(this).find('td').eq(1).html("<b class='text-info'>" + siret.substr(0, 9) + "</b>" + siret.substr(9, 13));
                        }
                    });
                }
            })
        }
        else {
            $('.table').DataTable({
                "drawCallback": function (settings) {
                    $("table > tbody > tr").each(function () {
                        var siret = $(this).find('td').eq(1).html();
                        if (siret != "Non renseigné" && siret.length != 39) {
                            $(this).find('td').eq(1).html("<b class='text-info'>" + siret.substr(0, 9) + "</b>" + siret.substr(9, 13));
                        }
                    });
                },
                "language": {
                    "zeroRecords": "Aucune information n\'a été trouvée.",
                    "sSearch": "Recherche",
                    "lengthMenu": "Affichage de _MENU_ lignes par page",
                }, "lengthChange": lenghtPage
                , "pageLength": pageSize
                , "bPaginate": pagination
                , "info": false
                , dom: 'lBfrtip',
                "buttons": [
                    {
                        extend: 'excelHtml5',
                        className: 'btn btn-info',
                        text: 'Export excel',
                        title: 'SalesManagement - Informations des établissements rattachés aux groupes - Recherche ' + $("#libelle").val(),
                        exportOptions: {
                            modifier: {
                                order: 'index',
                                page: 'all',
                                search: 'none'
                            },
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
                        },
                        action: function (e, dt, button, config) {
                            $.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, button, config);
                        }
                    }
                ]
            });
        }
        $(".lbError").hide();
        if ($("#pageSize").val() == $('#pageSize option:last').val())
            $('.buttons-excel').show();
        else
            $('.buttons-excel').hide();
    }
 
    function exportAll() {
        $.ajax({
            url: '/GE/GetAllGE',
            success: function (data) {
                if (data.success != false) {
                    RemoveProgressBar('success');
                    $("#exportData").empty();
                    $("#exportData").append(data);
                    var table = $('#exportData').DataTable({
                        dom: 'Bfrtip',
                        "buttons": [
                            {
                                extend: 'excelHtml5',
                                className: 'exportAllBtn hidden',
                                title: 'SalesManagement - Informations des établissements rattachés aux groupes - Export des données',
                                action: function (e, dt, button, config) {
                                    $.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, button, config);
                                }
                            }
                        ]
                    });
                    $(".exportAllBtn").click();
                    $("#exportInProgress").addClass('hidden');
                    $('.btn,#pageSize').prop('disabled', false);
                    $('#exportAllBtn').prop('disabled','disabled');
                    $("#progress-message").empty();
                }
                else {
                    RemoveProgressBar('failed');
                }
            },
            error: function (){
                RemoveProgressBar('failed');
            }
        });
    }
    function exportData()
    {
        $('.btn,#pageSize').prop('disabled', 'disabled');
        $("#exportInProgress").removeClass('hidden');
        $('#warningExportModal').modal('hide');
        exportAll();
        StartInvoicing();
    }
    function StartInvoicing() {

        var progressNotifier = $.connection.progressHub;

        // establish the connection to the server and start server-side operation
        $.connection.hub.start().done(function () {
            // call the method CallLongOperation defined in the Hub
            progressNotifier.server.getCountAndMessage();
            $("#progress-bar-boost").show();
            $("#progress-message").show();
        });
        SetProgressBar();
    }
    function SetProgressBar() {
        $(".progress-bar").css({ "width": 0 + "%" });
        toastr.remove();
        toastr.info('<br/>' + $("#progress-message").text() + '<p/><div class="progress" id="progress-bar-boost"><div class="progress-bar progress-bar-success" style="width: 0%"></div></div>', "ABILWAYS - Administration", {
            timeOut: 0,
            extendedTimeOut: 0
        });
    }
    function RemoveProgressBar(success) {
        toastr.remove();
        if (success == "success") {
            toastr.success("Vos données se sont chargées avec succès !", "ABILWAYS - Administration");
            $("#progress-bar-boost").hide();
        }
        else {
            toastr.error("Une erreur est survenue lors de la récupération des données", "ABILWAYS - Administration");
        }
        $('#loadingDiv').hide();
    }
    function UpdateProgress(message, count) {
        $(".progress-bar").css({ "width": count + "%" });
        $("#progress-message").empty();
        $("#progress-message").html(message);
    }
</script>
<style>
    .pagination {
        min-height: 20px;
        min-width: 30px;
        color: #5054a3;
        text-align: center !important;
    }
</style>