﻿@model GeRSTCS

@if (Model.Grp == null)
{
    <div id="groupNotFind" class="">
        @if (Model.Etb.ETB_SIRET != null)
        {
            <span>Aucun groupe n'a été trouvé à partir du Siren <label class="text-danger">@{try { Model.Etb.ETB_SIRET.Substring(0, 9); } catch { } }</label> de l'entreprise <label class="text-info">@Model.Etb.ETB_NAME</label></span><br />
        }
        else
        {
            <span>Aucun groupe n'a été trouvé à partir des informations de l'établissement <label class="text-info">@Model.Etb.ETB_NAME</label></span><br />
        }
        <br /><p />
        <button type="button" class="btn btn-info btnCreateGrp" onclick="CreateGroupDiv()">Créer un groupe</button>
        <button type="button" class="btn btn-primary btnSearchGrp" onclick="SearchGroupDiv()">Rechercher un autre groupe existant</button>
        <button type="button" class="btn btn-warning btnSearchByKeyWords" onclick="SearchByKeyWordsDiv()">Rechercher par mot clé</button>
    </div>
}
else
{
    string siret = "";
    siret = Model.Etb.ETB_SIRET != null ? siret = Model.Etb.ETB_SIRET : siret = "Non renseigné";

    <div id="groupFind" class="col-md-12">
        <p /><span>L'établissement <label class="text-info">@Model.Etb.ETB_NAME</label> peut être rattaché au groupe <label class="text-success"> @Model.Grp.LIBELLE</label>.</span>
        @{
            if (siret == "Non renseigné")
            {
                <br /><span> <b class="text-warning">Note : </b>Le siret n'étant pas renseigné la recherche s'est portée sur le libellé.</span><br />
            }
        }<br />
        <p />
        <p id="infosGroup">
            <label>Informations du groupe:  </label><br />
            Siret / Siret :
            @{
                if (siret != "Non renseigné")
                {
                    <b><span class="text-danger">@siret.Substring(0, 9)</span>@siret.Substring(9)</b><br />
                }
                else
                {
                    <span>@siret</span><br />
                }
            }
            Région:  <label class="text-info">@Model.Grp.DATA_REGIONS.REGION</label><br />
            Taille:  <label class="text-info">@Model.Grp.DATA_TAILLES.LIBELLE</label><br />
            <table class="table table-bordered" style="width:70%;">
                <tr>
                    <td>Effectif min</td>
                    <td>Effectif max</td>
                    <td>CA min</td>
                    <td>CA max</td>
                    <td>Bilan estimé</td>
                    <td>Bilan réel</td>
                </tr>
                <tr>
                    <td>@Model.Grp.DATA_TAILLES.EFFECTIF_MIN</td>
                    <td>@Model.Grp.DATA_TAILLES.EFFECTIF_MAX</td>
                    <td>@Model.Grp.DATA_TAILLES.CA_MIN</td>
                    <td>@Model.Grp.DATA_TAILLES.CA_MAX</td>
                    <td>@Model.Grp.DATA_TAILLES.BILAN_ESTIME</td>
                    <td>@Model.Grp.DATA_TAILLES.BILAN_REEL</td>
                </tr>
            </table>
       
            Activité:  <label class="text-info">@Model.Grp.DATA_SEGMENTS.LIBELLE</label><br />
        </p>
        <button class="btn btn-success" id="" type="button" onclick="AddCorrepondanceEG('@Model.Grp.IDGROUPE')">Rattacher l'établissement</button>
        <button type="button" class="btn btn-info btnCreateGrp" onclick="CreateGroupDiv()">Créer un groupe</button>
        <button type="button" class="btn btn-primary btnSearchGrp" onclick="SearchGroupDiv()">Rechercher un autre groupe existant</button><p />
        <button type="button" class="btn btn-warning btnSearchByKeyWords" onclick="SearchByKeyWordsDiv()">Rechercher par mot clé</button><p />

    </div>
}
<br/>
<p/>
<div id="SearchByKeyWordsDiv" class="hidden">
    <span>Sélectionnez le mot clé pour effectuer une recherche:</span><br /><p />
    @{
        string[] words = Model.Etb.ETB_NAME.Split(' ');

        foreach (string word in words)
        {
            <a onclick="SearchByKeyWords('@word')"> @word</a>
        }
    }
    <div id="groupFindByWord">

    </div>
</div>
<div id="createGroup" class="hidden" style="padding-left:3%;">
    <div class="row">
        <div id="divCreate" class="col-md-6" >

        </div>
        <br />
    </div>
    <div class="row">
        <button class="btn btn-success" onclick="CreateGrpForE()" type="button">Créer et rattacher l'établissement</button><br />
    </div>
</div>
<br />
<p />
