﻿@model Pagination


@if (Model.ETB.Count != 0)
{
    <h3 class="text-info">Informations des établissements:  </h3>
    <br />

    <h5><b class="text-info">@Model.TotalResultCout</b> résultats ont été trouvés.</h5><br/>
    <b>Nombre d'établissements par page: </b>
    <select id="selectPageSize" onchange="Pagination(1, '@Model.Libelle', '@Model.ResearchType', this.value)" class="form-control col-3">
        @{ 
            var sList = new List<int>() { 10, 20, 50, 100};

            foreach (var number in sList.Where(x => x < Model.TotalResultCout))
            {
                <option value="@number">@number</option>
            }
        }
        <option value="@Model.TotalResultCout" >Tout: @Model.TotalResultCout</option>
    </select><br/><p/>

    <table class="table table-striped" id="tableETB">
        <thead>
            <tr>
                <th>Nom de l'établissement</th>
                <th>Capdata-id</th>
                <th>Siret</th>
                <th>Adresse</th>
                <th>Date d'ajout</th>
                <th>Etat</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        @{
            foreach (var ETB in Model.ETB)
            {
                <tr>
                    <td>@ETB.Libelle</td>
                    <td>@ETB.ETB_ID</td>
                    <td>@ETB.Siret</td>
                    <td>@ETB.Adresse</td>
                    <td>@ETB.DateAdd</td>
                    @{
                        if (ETB.State != "Non rattaché")
                        {
                            <td style="width:25%;" class="sorting_1">Rattaché à <b class="text-info">@ETB.LibelleGroupeCorresp</b> <br>le <span style="color: #49aeb5">@ETB.DateCorresp</span></td>
                            <td><button type='button' class="btn btn-danger col-md-12" data-toggle="modal" data-target="#deleteGE" data-etbid="@ETB.ETB_ID" data-idgroupe="@ETB.IdGroupeCorresp">Supprimer</button></td>
                        }
                        else
                        {
                            <td>@ETB.State</td>
                            <td><button type='button' class='btn btn-success col-md-12' onclick='ETBSelectedBtn(@ETB.ETB_ID)'>Sélectionner</button></td>
                        }
                    }
                </tr>
            }
        }
        </tbody>
    </table>
    <div class="col-lg-offset-7">
        <input type="hidden" id="page" value="@Model.Page" />
        <input type="hidden" id="libelle" value="@Model.Libelle" />
        <input type="hidden" id="pageSizeInput" value="@Model.PageSize" />

        @{
            if (Model.Page > 1)
            {
                <button class="btn pagination" type="button" onclick="Pagination(@Model.Page-1, '@Model.Libelle','@Model.ResearchType', @Model.PageSize)">Précédent</button>
                if (Model.Page > 2)
                {
                    <button class="btn pagination" type="button" onclick="Pagination(1, '@Model.Libelle','@Model.ResearchType', @Model.PageSize)">1</button>

                } <button class="btn pagination" type="button" onclick="Pagination(@Model.Page-1, '@Model.Libelle', '@Model.ResearchType', @Model.PageSize)">@(Model.Page - 1)</button>
            }

            <button class="btn pagination" type="button" disabled>@(Model.Page)</button>

            if (Model.Page != Model.PageCount)
            {
                for (int i = Model.Page + 1; i < Model.Page + 4; i++)
                {
                    if (i < Model.PageCount)
                    {
                        <button class="btn pagination" type="button" onclick="Pagination(@i, '@Model.Libelle','@Model.ResearchType', @Model.PageSize)">@i</button>

                    }
                }
                <button type="button" class="btn" disabled>...</button>
                <button type="button" class="btn pagination" value="@Model.PageCount" onclick="Pagination(@Model.PageCount, '@Model.Libelle', '@Model.ResearchType',@Model.PageSize)">@Model.PageCount</button>
                <button type="button" class="btn pagination" value="+1" onclick="Pagination(@Model.Page+1, '@Model.Libelle','@Model.ResearchType', @Model.PageSize)">Suivant</button>
            }

        }
    </div>
    <span>Affichage de la page @Model.Page sur @Model.PageCount</span>

}
else
{
    <span>Aucun établissement n'a été trouvé pour </span><label class="text-danger"  id="noDataFoud"></label>
    <br />
}
<script>$("#noDataFoud").append($("#capdataIdInput").val() + $("#ETBInput").val() + $("#ETBDate").val() +  $("#ETBStartDate").val()  + " " +  $("#ETBEndDate").val() + ".")</script>
<script>$("#selectPageSize").val('@Model.PageSize')</script>