﻿@model List<GE>

    @foreach (var grp in Model)
    {
    <tr>
        <td>@grp.LibelleGroupe</td>
        <td>@grp.LibelleRegion</td>
        <td>@grp.LibelleTaille</td>
        <td>@grp.LibelleSecteur</td>
        <td>@grp.LibelleSegment</td>
        @if (User.IsInRole("GSA-ABW-SM-W"))
        {
            <td>
                <button class="btn btn-success" id="" type="button" onclick="AddCorrepondanceEG('@grp.IdGroupe')">Rattacher l'établissement</button><br />
            </td>
        }
    </tr>
    }
<script>
    $("#dataFound").empty();
    $("#dataFound").append("<b class='text-success' style='font-size:16px'>" + '@Model.Count' + "</b> résultat(s) trouvé(s).<br/><p/>");
</script>
