﻿@model List<GE>
<thead>
    <tr>
        <th>ID CapData</th>
        <th>Nom de l'établissement</th>
        <th>Siret</th>
        <th>Nom du groupe</th>
        <th>Segment</th>
        <th>Commercial</th>
    </tr>
</thead>
<tbody class="tbody">
    @foreach (var GE in Model)
    {
        string siret = "", adress = "", commericalName = "";

        siret = GE.Siret != null ? siret = GE.Siret : siret = "Non renseigné";
        adress = GE.Etb_adr != null ? adress = GE.Etb_adr : adress = "Non renseigné";

        commericalName = GE.NomPrenomCom != "" ? commericalName = GE.NomPrenomCom : commericalName = "Non renseigné";

    <tr>
        <td>@GE.Etb_id</td>
        <td>@GE.Etb_name</td>
        <td>@siret</td>
        <td>@GE.LibelleGroupe</td>
        <td>@GE.LibelleSegment</td>
        <td>@commericalName</td>
    </tr>
    }
</tbody>
