﻿﻿@model Pagination
@{
    var sList = new List<int> { 10, 25, 50, 100 };
}
@if (Model.Libelle != "")
{
    <br />
    <h3>Recherche pour <span class="text-primary libelle">@Model.Libelle</span> : @Model.TotalResultCout résultat(s) trouvé(s).</h3>
    <button class="btn" onclick="Pagination(1,'',10, 'Libelle')"><i class="glyphicon glyphicon-remove"></i> Effacer la recherche</button>
    <br />
    <p />
    <p />
    if (Model.ResearchType == "Date")
    {
        <div class="col-sm-12 col-md-6 form-inline">
            <span>Affichage de</span>
            <select id="pageSize" class="custom-select custom-select-sm form-control form-control-sm" style="width: 75px" onchange="Pagination(@Model.Page, '@Model.Libelle',this.value, '@Model.ResearchType')">
                <option value="@Model.PageSize">@Model.PageSize</option>
                @foreach (var val in sList.Where(x => x < Model.TotalResultCout && x != Model.PageSize))
                {
                    <option value="@val">@val</option>
                }
                @if (Model.TotalResultCout != 0 && Model.TotalResultCout > 10)
                {
                    <option value="@Model.TotalResultCout">Tout: @Model.TotalResultCout</option>
                }
            </select>
            <span>lignes par page</span>
        </div>
        <br />
    }
}
else
{
    if (User.IsInRole("GSA-ABW-SM-W"))
    {
        <div id="exportInProgress" class="hidden">
            <h3 class="text-danger">Export en cours !</h3>
            <br />
            <p />
            <a class="btn btn-primary" href="/GE" target="_blank">Ouvrir un nouvel onglet</a>
            <p />
        </div>
        <br />
        <h3><span class="text-success">@Model.TotalResultCout</span> résultat(s) trouvé(s).</h3>
        <br />
        <button id="exportAllBtn" class="btn btn-success" data-toggle="modal" data-target="#warningExportModal">Exporter toutes les données</button>
        <br />
        <p />
        <span id="progress-message"></span>
    }

    <div class="col-sm-12 col-md-6 form-inlisne">
        <span>Affichage de</span>
        <select id="pageSize" class="custom-select custom-select-sm form-control form-control-sm" style="width: 75px" onchange="Pagination(@Model.Page, '@Model.Libelle',this.value, '@Model.ResearchType')">
            @foreach (var val in sList)
            {
                <option value="@val">@val</option>
            }
        </select>
        <span>lignes par page</span>
    </div>
    <br />
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>ID CapData</th>
            <th>Nom de l'établissement</th>
            <th>Siret<br /><span class="text-info">Siren</span></th>
            <th>Adresse</th>
            <th class="hidden">Date d'ajout (ETB)</th>
            <th class="hidden">Adresse 2</th>
            <th class="hidden">Adresse 3</th>
            <th class="hidden">Ville</th>
            <th class="hidden">Code postal</th>
            @*<th class="hidden">Telephone</th>
        <th class="hidden">Effectif</th>*@
            <th class="hidden">NAF / Activite</th>
            <th>Nom du groupe</th>
            <th class="hidden">Date d'ajout (GRP)</th>
            <th>Région</th>
            <th>Secteur</th>
            <th>Taille</th>
            <th>Segment</th>
            <th>Commercial</th>
            <th>Date d'ajout</th>
            @if (User.IsInRole("GSA-ABW-SM-W"))
            {
                <th>Modifier</th>
                <th>Supprimer</th>
            }
        </tr>
    </thead>
    <tbody class="tbody">
        @foreach (var GE in Model.GE)
        {
        <tr>
            <td>@GE.Etb_id</td>
            <td>@GE.Etb_name</td>
            <td>@GE.Siret</td>
            <td>@GE.Etb_adr</td>
            <td class="hidden">@GE.Date_AddEtb</td>
            <td class="hidden">@GE.Etb_adr2</td>
            <td class="hidden">@GE.Etb_adr3</td>
            <td class="hidden">@GE.Etb_ville</td>
            <td class="hidden">@GE.Etb_cp</td>
            @*<td class="hidden">Telephone</td>
        <td class="hidden">Effectif</td>*@
            <td class="hidden">@GE.Etb_naf</td>
            <td>@GE.LibelleGroupe</td>
            <td class="hidden">@GE.Date_AddGrp</td>
            <td>@GE.LibelleRegion</td>
            <td>@GE.LibelleSecteur</td>
            <td>@GE.LibelleTaille</td>
            <td>@GE.LibelleSegment</td>
            <td>@GE.NomPrenomCom</td>
            <td>@GE.Date_AddGrp</td>
            @if (User.IsInRole("GSA-ABW-SM-W"))
            {
                <td><button class="btn btn-warning" data-toggle="modal" data-target="#editGE" data-etbid="@GE.Etb_id" data-etbname="@GE.Etb_name" data-idgroupe="@GE.IdGroupe">Modifier</button></td>
                <td><button class="btn btn-danger" data-toggle="modal" data-target="#deleteGE" data-etbid="@GE.Etb_id" data-idgroupe="@GE.IdGroupe">Supprimer</button></td>
            }
        </tr>
        }
    </tbody>
</table>
<input type="hidden" id="page" value="@Model.Page" />
<input type="hidden" id="libelle" value="@Model.Libelle" />
<input type="hidden" id="pageSizeInput" value="@Model.PageSize" />
@if (Model.Libelle == "" || Model.ResearchType == "Date")
{
    <div class="col-lg-offset-7">
        @{
            if (Model.Page > 1)
            {
                <button class="btn pagination" onclick="Pagination(@Model.Page-1, '@Model.Libelle', @Model.PageSize, '@Model.ResearchType')">Précédent</button>
                if (Model.Page > 2)
                {
                    <button class="btn pagination" onclick="Pagination(1, '@Model.Libelle', @Model.PageSize, '@Model.ResearchType')">1</button>

                } <button class="btn pagination" onclick="Pagination(@Model.Page-1, '@Model.Libelle', @Model.PageSize, '@Model.ResearchType')">@(Model.Page - 1)</button>
            }

            <button class="btn pagination" disabled>@(Model.Page)</button>

            if (Model.Page != Model.PageCount)
            {
                for (int i = Model.Page + 1; i < Model.Page + 4; i++)
                {
                    if (i < Model.PageCount)
                    {
                        <button class="btn pagination" onclick="Pagination(@i, '@Model.Libelle', @Model.PageSize, '@Model.ResearchType')">@i</button>

                    }
                }
                <button class="btn" disabled>...</button>
                <button class="btn pagination" value="@Model.PageCount" onclick="Pagination(@Model.PageCount, '@Model.Libelle', @Model.PageSize, '@Model.ResearchType')">@Model.PageCount</button>
                <button class="btn pagination" value="+1" onclick="Pagination(@Model.Page+1, '@Model.Libelle', @Model.PageSize, '@Model.ResearchType')">Suivant</button>
            }

        }
    </div>
    <span>Affichage de la page @Model.Page sur @Model.PageCount</span>
}
<div class="modal fade" id="warningExportModal" tabindex="-1" role="dialog" aria-labelledby="warningExportModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="homepage-para-icon fa fa-warning" aria-hidden="true"></i> Attention </h5>
            </div>
            <div class="modal-body" id="modal-body">
                <span>L'export des données est très long (<span class="text-info">@Model.TotalResultCout</span> données à exporter, plus de 10 minutes).<br />Voulez-vous continuer ?</span>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info" id="addSaleBtn" onclick="exportData();" data-dismiss="modal"> Oui</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>