﻿@model List<SalesManagement.DataControllers.ComSegment>
@{
    ViewBag.Title = "Informations des commerciaux";
}
<h2>Informations des commerciaux</h2>
@if (User.IsInRole("GSA-ABW-SM-W"))
{
    <button class="btn btn-primary" data-toggle="modal" data-target="#addSaleModal">Ajouter un commercial</button>
    <br />
    <p />
}
<div id="MyTable">
    @Html.Partial("Partial/_SalesTable_PartialView", Model)
</div>

<div class="modal fade" id="addSaleModal" tabindex="-1" role="dialog" aria-labelledby="addSaleModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter un commercial</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                Nom : <input type="text" class="form-control" id="addSaleLastName" value="" /><br />
                Prénom : <input type="text" class="form-control" id="addSaleFirstName" value="" /><br />
                <label class="text-danger lbError">Veuillez saisir tous les champs.</label>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info" id="addSaleBtn"> Ajouter</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editSaleModal" tabindex="-1" role="dialog" aria-labelledby="editSaleModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier un commercial</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <input type="hidden" id="editSaleId" value="" />
                Nom : <input type="text" class="form-control" id="editSaleLastName" value="" /><br />
                Prénom : <input type="text" class="form-control" id="editSaleFirstName" value="" /><br />
                <label class="text-danger lbError">Veuillez saisir tous les champs.</label>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info" id="editSaleBtn">Modifier</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteSaleModal" tabindex="-1" role="dialog" aria-labelledby="deleteSaleModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer un commercial</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <input type="hidden" id="deleteSaleIdSale" value="" />
                <span>Voulez-vous supprimer le commercial <span class="deleteSaleName"></span>?</span><br /><p /><p />
                <b>Cette action supprimera de manière définitive les <span id="nbCorresp" class="text-danger"></span> liaisons où <span class="deleteSaleName"></span> est rattaché(e).</b><br /><p />
                Je souhaite continuer <input type="checkbox" id="checkboxConfirmation" value="" />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" id="deleteSaleBtn" disabled>Supprimer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $(function () {
            SetDataTable();
            $(".lbError").hide();
        });
        $('#addSaleModal').on('show.bs.modal', function (event) {
            $(".lbError").hide();

            var modal = $(this);

            modal.find('#addSaleFirstName').val("");
            modal.find('#addSaleLastName').val("");
        });
        $('#editSaleModal').on('show.bs.modal', function (event) {
            $(".lbError").hide();

            var button = $(event.relatedTarget);

            var saleid = button.data('saleid');
            var firstName = button.data('salefirstname');
            var lastName = button.data('salelastname');

            var modal = $(this);

            modal.find('#editSaleId').val(saleid);
            modal.find('#editSaleFirstName').val(firstName);
            modal.find('#editSaleLastName').val(lastName);
        });
        $('#deleteSaleModal').on('show.bs.modal', function (event) {

            $("#deleteSaleBtn").prop("disabled", true);
            $("#checkboxConfirmation").prop("checked", false);

            var button = $(event.relatedTarget);
            var modal = $(this);

            var saleid = button.data('saleid');
            var firstName = button.data('salefirstname');
            var lastName = button.data('salelastname');

            modal.find('#deleteSaleIdSale').val(saleid);
            modal.find('.deleteSaleName').empty();
            modal.find('.deleteSaleName').append(lastName + " " + firstName);

            var id = $("#deleteSaleIdSale").val();
            $.ajax({
                url: "/Sales/GetNbCorresp?id=" + id,
                success: function (data) {
                    $("#nbCorresp").empty();
                    $("#nbCorresp").append(data);
                }
            });
        });
    });

    $("#checkboxConfirmation").change(function () {
        if ($(this).is(':checked')) {
            $("#deleteSaleBtn").prop("disabled", false);
        }
        else {
            $("#deleteSaleBtn").prop("disabled", true);
        }
    });

    $("#addSaleBtn").click(function () {
        var lastName = $("#addSaleLastName").val();
        var firstName = $("#addSaleFirstName").val();

        if (lastName != "" && firstName != "") {
            $.ajax({
                url: "/Sales/AddSale?lastName=" + lastName + "&firstName=" + firstName,
                success: function (data) {
                    toastr.clear();
                    toastr.success("<br/>Le commercial a été ajouté avec succès !", "ABILWAYS - Administration");
                    $('#addSaleModal').modal('toggle');
                    $("#MyTable").empty();
                    $("#MyTable").html(data);
                    SetDataTable();
                }
            });
        }
        else {
            $(".lbError").show();
        }
    });
    $("#editSaleBtn").click(function () {
        var id = $("#editSaleId").val();
        var lastName = $("#editSaleLastName").val();
        var firstName = $("#editSaleFirstName").val();

        if (lastName != "" && firstName != "") {
            $.ajax({
                url: "/Sales/EditSale?id=" + id + "&lastName=" + lastName + "&firstName=" + firstName,
                success: function (data) {
                    toastr.clear();
                    toastr.success("<br/>La liaison a été modifié avec succès !", "ABILWAYS - Administration");
                    $('#editSaleModal').modal('toggle');
                    $("#MyTable").empty();
                    $("#MyTable").html(data);
                    SetDataTable();
                }
            });
        }
        else {
            $(".lbError").show();
        }
    });
    $("#deleteSaleBtn").click(function () {
        var id = $("#deleteSaleIdSale").val();
        $.ajax({
            url: "/Sales/DeleteSale?id=" + id,
            success: function (data) {
                toastr.clear();
                toastr.info("<br/>La liaison a été supprimé avec succès !", "ABILWAYS - Administration");
                $('#deleteSaleModal').modal('toggle');
                $("#MyTable").empty();
                $("#MyTable").html(data);
                SetDataTable();
            }
        });
    });

    function SetDataTable() {
        $('.table').DataTable({
            "language": {
                "zeroRecords": "Aucune information n\'a été trouvée.",
                "sSearch": "Recherche par mot-clé",
                "lengthMenu": "Affichage de _MENU_ lignes par page",
                "info": "Affichage de la page _PAGE_ sur _PAGES_",
            }, dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    className: 'btn btn-secondary',
                    text: 'Export excel',
                    title: 'SalesManagement - Informations des commerciaux',
                    exportOptions: {
                        modifier: {
                            order: 'index',
                            page: 'all',
                            search: 'none'
                        },
                        columns: [0, 1, 2]
                    }

                }
            ]
        });

    }
</script>
