﻿@model List<SalesManagement.DataControllers.ComSegment>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Segment <span class="text-danger">*</span></th>
            @if (User.IsInRole("GSA-ABW-SM-W"))
            {
                <th>Modifier</th>
                <th>Supprimer</th>
            }
        </tr>
    </thead>
    <tbody class="tbody">
        @foreach (var comSegment in Model)
        {
            <tr>
                <td>@comSegment.Com.NOM.ToUpper()</td>
                <td>@comSegment.Com.PRENOM.Substring(0, 1).ToUpper()@comSegment.Com.PRENOM.Substring(1).ToLower()</td>
                <td>@comSegment.LibelleSegment</td>
                @if (User.IsInRole("GSA-ABW-SM-W"))
                {
                    <td><button class="btn btn-warning" data-toggle="modal" data-target="#editSaleModal" data-saleid="@comSegment.Com.IDCOMMERCIAL" data-salelastname="@comSegment.Com.NOM.ToUpper()" data-salefirstname="@comSegment.Com.PRENOM.Substring(0, 1).ToUpper()@comSegment.Com.PRENOM.Substring(1).ToLower()">Modifier</button></td>
                    <td><button class="btn btn-danger" data-toggle="modal" data-target="#deleteSaleModal" data-saleid="@comSegment.Com.IDCOMMERCIAL" data-salelastname="@comSegment.Com.NOM.ToUpper()" data-salefirstname="@comSegment.Com.PRENOM.Substring(0, 1).ToUpper()@comSegment.Com.PRENOM.Substring(1).ToLower()">Supprrimer</button></td>
                }
            </tr>
        }
    </tbody>
</table>
<span class="font-italic"><span class="text-danger">*</span> Note <i class="homepage-para-icon fa fa-lightbulb-o" aria-hidden="true"></i> : La mention "Non renseigné" indique que le commercial n'est rattaché à aucun groupe, aucun segment n'a donc été trouvé.</span>