﻿<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">
            <div class="centering text-center">
                <div class="text-center">
                    <h2 class="without-margin">ERREUR : <span class="text-danger"><big>@ViewBag.HttpStatusCode</big></span></h2>
                    <h3>Le serveur n'a pas su traiter votre demande.</h3><br/>
                    @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <h4>Afin d'aider nos équipes, merci de transmettre le message d'erreur suivant :</h4>
                        <h5 class="text-danger" style="word-wrap: break-word;">@ViewBag.ErrorMessage</h5>
                    }
                </div>
                <div class="text-center">
                    <h3><small>Choisir une option :</small></h3>
                </div>
                <hr>
                <ul class="pager">
                    <li><a href=@Url.Action("Index", "Home")>Retour à l'accueil</a></li>
                    <li><a href="javascript:history.back()">Page précédente</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
</div>