﻿
.homepage-para-icon {
    transform: rotate(-10deg);
    font-size: 2rem;
    color: #FFB140;
}
.homepage-box-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}
.homepage-box {
    margin-top: 5%;
    text-align: center;
    padding: 20px 30px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(181,181,181,1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(181,181,181,1);
    box-shadow: 0px 0px 7px 0px rgba(181,181,181,1);
}
    .homepage-box a {
        color: white;
        font-size: 2rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8%;
        margin-bottom: 10%;
    }

.box1 {
    background-color: #3d3d6b;
    width: 400px;
    padding: 2%;
    height: 150px;
}
.box2 {
    background-color: #2a7b9b;
    width: 400px;
    padding: 2%;
    height: 150px;
}
.box3 {
    background-color: #00baad;
    width: 400px;
    padding: 2%;
    height: 150px;
}
.box4 {
    background-color: #57c785;
    width: 400px;
    padding: 2%;
    height: 150px;
}
.box5 {
    background-color: #add45c;
    width: 400px;
    padding: 2%;
    height: 150px;
}
.box6 {
    background-color: #ffc300;
    width: 400px;
    padding: 2%;
    height: 150px;
}
.homepage-table-row td {
    padding: 10px;
    height: 150px;
}
.homepage-table{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* LAYOUT */


.line {
    margin: 4% 20%;
    border: 1px solid #c8c8c8;
    position: relative;
}

h2 {
    text-align: center;
    color: #49aeb5;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 4rem;
    font-family: 'Livvic', sans-serif;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: -3px;
    scroll-behavior: smooth;
}

body {
    color: #333;
    margin-bottom: 60px;
    background-color: #F5F7FB;
}

.wrapper {
    min-height: 100%;
    max-width: 300px;
    background-image: linear-gradient( to right, #384764, #6A758B);
}

.sidebar {
    position: absolute;
    width: 300px;
}

.title {
    font-family: 'Livvic', sans-serif;
    font-size: 2rem;
    line-height: 50px;
    text-align: center;
    color: white;
    border-bottom: 1px solid #1B4144;
    background: #49aeb5;
    font-variant: small-caps;
    font-weight: bold;
}

.main-nav li a {
    position: relative;
    display: block;
    padding: 15px 15px 15px 50px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

    .main-nav li a:before {
        font: 14px fontawesome;
        position: absolute;
        top: 17px;
        left: 20px;
    }

.main-nav li:nth-child(1) a:before {
    content: '\f015';
}

.main-nav li:nth-child(2) a:before {
    content: "\f1e0";
}

.main-nav li:nth-child(3) a:before {
    content: '\f0b1';
}

.main-nav li:nth-child(4) a:before {
    content: '\f0c0';
}

.main-nav li:nth-child(5) a:before {
    content: '\f0c1';
}

.main-nav li:nth-child(6) a:before {
    content: '\f1ad';
}

.main-nav li:nth-child(7) a:before {
    content: '\f1cd';
}

.main-nav li:nth-child(8) a:before {
    content: "\f011";
    margin-left: 80%;
    font-size: 2rem;
}

.main-nav li a:hover {
    background-color: #6A758B !important;
}

.bg-danger {
    background-color: #6A758B !important;
}

.main-nav li.active {
    box-shadow: inset 5px 0 0 red, inset 6px 0 0 #222;
    background: #6A758B !important;
}

.body-content {
    margin: 2% 5% 2% 320px;
    padding-top: 10%;
}

.body {
    padding: 2% 6%;
    width: 1900px;
    margin: 3% auto 0 auto;
    background-color: white;
    border-radius: 10px;
}

.navbar-logout {
    padding-bottom: 40px !important;
}

.nav li a:focus, .nav li a:active {
    background-color: #6A758B !important;
}

.footer {
    bottom: 0;
    width: 100%;
    position: static;
    height: -60px;
}

.modal-title {
    color: #49aeb5;
    font-variant: small-caps;
    text-align: center;
}