﻿@model List<SalesManagement.DataControllers.DATA_COMMERCIAUX>
@{
    ViewBag.Title = "Informations des liaisons entre les commerciaux et les groupes";
}
<h2>Informations des liaisons entre les commerciaux et les groupes</h2>
<br />

<h4>Sélectionnez un commercial:</h4>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <select id="saleSelect" class="form-control" onchange="FillTable()" data-live-search="true">
                @foreach (var com in Model)
                {
                    <option value="@com.IDCOMMERCIAL">@com.PRENOM.Substring(0, 1).ToUpper()@com.PRENOM.Substring(1).ToLower() @com.NOM.ToUpper()</option>
                }
            </select>
            <br />
        </div>
        @if (User.IsInRole("GSA-ABW-SM-W"))
        {
            <div>
                <button class="btn btn-success" data-toggle="modal" data-target="#addGroupModal" onclick="FillAddModal()" data-placement="top" title="Permet de rattacher un commercial à un groupe">Lier un commercial à un groupe</button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#addSaleModal" data-placement="top" title="Permet d'ajouter un nouveau commercial">Ajouter un commercial</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createGroupModal" id="createGroupModalBtn" data-placement="top" title="Permet de créer un nouveau groupe">Créer un groupe</button>
            </div>
        }
        <br /><p />

        <br /><p />
        <div class="col-md-12">
            <div id="MyData">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="addGroupModal"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lier un commercial à un groupe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info" onclick="CheckCorrespondance()" id="addCorrespondanceBtn">Ajouter</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog" aria-labelledby="deleteGroupModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer la liaison</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="deleteGroupIdGroup" value="" />
                <input type="hidden" id="deleteGroupIdCom" value="" />

                <span>Voulez-vous supprimer la liaison ?</span>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" onclick="DeleteCorrespondance()">Supprimer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="correspondanceGroupModal" tabindex="-1" role="dialog" aria-labelledby="correspondanceGroupModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Attention</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="correspondanceGroupModalBody">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="AddNewCorrespondance()">Ajouter</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addSaleModal" tabindex="-1" role="dialog" aria-labelledby="addSaleModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter un commercial</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                Nom : <input type="text" class="form-control" id="addSaleLastName" value="" /><br />
                Prénom : <input type="text" class="form-control" id="addSaleFirstName" value="" /><br />
                <label class="text-danger lbError">Veuillez saisir tous les champs.</label>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info" id="addSaleBtn"> Ajouter</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Créer un groupe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-bodyCreate">

            </div>
            <label class="text-danger col-lg-offset-1 lbError">Veuillez saisir tous les champs.</label>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="CreateGroup()">Créer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>

<script>
    $(document).ready(function () {
        FillTable();

        $('#saleSelect').selectpicker();

        $('#deleteGroupModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var idGroup = button.data('idgroup');
            var idCom = button.data('idcom');
            var modal = $(this);

            modal.find('#deleteGroupIdGroup').val(idGroup);
            modal.find('#deleteGroupIdCom').val(idCom);
        });
        $('#addSaleModal').on('show.bs.modal', function (event) {
            $(".lbError").hide();

            var modal = $(this);

            modal.find('#addSaleFirstName').val("");
            modal.find('#addSaleLastName').val("");
        });

        $("#addSaleBtn").click(function () {
            var lastName = $("#addSaleLastName").val();
            var firstName = $("#addSaleFirstName").val();

            if (lastName != "" && firstName != "") {
                $.ajax({
                    url: "/Sales/AddSale?lastName=" + lastName + "&firstName=" + firstName,
                    success: function (data) {
                        toastr.clear();
                        toastr.info("<br/>Le commercial a été ajouté avec succès !", "ABILWAYS - Administration");
                        location.reload();
                    }
                });
            }
            else {
                $(".lbError").show();
            }
        });
    });

    function FillTable() {
        var salesId = $("#saleSelect").val();
        $.ajax({
            url: '/SalesGroups/GetGroups?idCom=' + salesId,
            success: function (data) {
                $("#MyData").empty();
                $("#MyData").html(data);
                SetDataTable();
            }
        });
    }

    function FillAddModal() {
        $.ajax({
            url: '/SalesGroups/GetCom',
            success: function (data) {
                $("#modal-body").empty();
                $("#modal-body").html(data);

                $('#selectCom').selectpicker();
                GetGroups($('#selectCom').val());

            }
        });
    }

    function CheckCorrespondance() {
        var idGroup = $('#selectGroup').val();
        var idCom = $('#selectCom').val();

        $.ajax({
            url: '/SalesGroups/CheckCorrespondance?idGroup=' + idGroup,
            success: function (data) {
                if (data != "") {
                    $("#correspondanceGroupModal").modal('show');

                    $("#correspondanceGroupModalBody").empty();
                    $("#correspondanceGroupModalBody").html(data);
                }
                else {
                    AddCorrespondance(idGroup);
                }
            }
        });
    }

    function AddNewCorrespondance() {
        var idCom = $('#selectCom').val();
        var idGroup = $('#selectGroup').val();

        $.ajax({
            url: '/SalesGroups/AddNewCorrespondanceComGroup?idGroup=' + idGroup + "&idCom=" + idCom,
            success: function (data) {
                toastr.clear();
                toastr.success("<br/>La liaison a été créée avec succès !", "ABILWAYS - Administration");
                $("#MyData").empty();
                $("#MyData").html(data);
                SetDataTable();
            }
        });
        $('#saleSelect').val(idCom);
        $('#saleSelect').selectpicker('refresh');

        $('#addGroupModal').modal('toggle');
        $('#correspondanceGroupModal').modal('toggle');
    }

    function AddCorrespondance(idGroup) {
        var idCom = $('#selectCom').val();
        $.ajax({
            url: '/SalesGroups/AddCorrespondanceComGroup?idGroup=' + idGroup + '&idCom=' + idCom,
            success: function (data) {
                toastr.clear();
                toastr.success("<br/>La liaison a été créée avec succès !", "ABILWAYS - Administration");
                $("#MyData").empty();
                $("#MyData").html(data);
                SetDataTable();
            }
        });
        $('#saleSelect').val(idCom);
        $('#saleSelect').selectpicker('refresh');

        $('#addGroupModal').modal('toggle');
    }

    function DeleteCorrespondance() {
        var idCom = $('#deleteGroupIdCom').val();
        var idGroup = $('#deleteGroupIdGroup').val();

        $.ajax({
            url: '/SalesGroups/DeleteCorrespondanceComGroup?idGroup=' + idGroup + '&idCom=' + idCom,
            success: function (data) {
                toastr.clear();
                toastr.info("<br/>La liaison a été supprimée avec succès !", "ABILWAYS - Administration");
                $("#MyData").empty();
                $("#MyData").html(data);
                SetDataTable();
            }
        });
        $('#deleteGroupModal').modal('toggle');
    }

    function GetGroups(idCom) {
        $.ajax({
            url: '/SalesGroups/GetComGroups?idCom=' + idCom,
            success: function (data) {
                $("#selectGroupDiv").empty();
                $("#selectGroupDiv").html(data);

                $('#selectGroup').selectpicker();

                GetInfoGroup($('#selectGroup').val());
            }
        });
    }

    function SetDataTable() {
        $('#salesTable').DataTable({
            "language": {
                "zeroRecords": "Aucune information n\'a été trouvée.",
                "sSearch": "Recherche",
                "lengthMenu": "Affichage de _MENU_ lignes par page",
                "info": "Affichage de la page _PAGE_ sur _PAGES_",
            }, dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    className: 'btn btn-secondary',
                    text: 'Export excel',
                    title: 'SalesManagement - Listes des groupes rattachés à ' + $('#saleSelect option:selected').text(),
                    exportOptions: {
                        modifier: {
                            order: 'index',
                            page: 'all',
                            search: 'none'
                        },
                        columns: [0, 1, 2, 3]
                    }
                }
            ]
        });
    }


</script>
