﻿@model List<SalesManagement.DataControllers.DATA_COMMERCIAUX>
@{
    ViewBag.Title = "Aide";
}
<div class="container" data-spy="scroll" data-target="#myScrollspy" data-offset="15" ">
    <h2>Aide</h2><br />
    <nav class="col-sm-4" id="myScrollspy">
        <ul class="nav nav-pills nav-stacked help-nav" data-spy="affix" data-offset-top="205">
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Informations des liaisons entre les commerciaux et les groupes</a></li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Information des commerciaux</a></li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Information des groupes</a></li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Lier un établissement à un groupe</a></li>
            <li><a data-toggle="collapse" data-parent="#accordion " href="#collapse5">Informations des établissements rattachés aux groupes</a></li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Export des données</a></li>
        </ul>
    </nav>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" id="salesGroup">Informations des liaisons entre les commerciaux et les groupes</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>
                        <h3 class="help-section-header" id="displayGroupSales"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Affichage des groupes liés à un commercial</h3>
                        Pour afficher les groupes rattachés à un commercial vous devrez sélectionner un commercial dans la liste déroulante.
                        <img class="hidden" src="~/images/imgsrcn/salesGrp/liercomGrp4.png" /><br />
                        <img class="doc-info-pic" src="~/images/imgsrcn/salesGrp/liercomGrp.png" /><br />
                        Vous pourrez ainsi consulter les groupes qui lui sont rattachés et également mettre fin à une liaison en cliquant sur le bouton <img class="btnlog" src="~/images/imgsrcn/salesGrp/btnDelete.png" /> .<br />
                        Grâce à la barre de recherche vous pourrez rechercher une liaison à partir des informations saisit <img class="btnS" src="~/images/imgsrcn/btnSearch.png" /> .<br />
                    <p />
                    <p>
                        <h3 class="help-section-header" id="LinkGroupSales"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Lier un groupe à un commercial</h3>
                        En cliquant sur <img class="btnlog" src="~/images/imgsrcn/salesGrp/btnCorresp.png" /> une nouvelle fenêtre apparaîttera :<br />
                        <img class="doc-info-pic" src="~/images/imgsrcn/salesGrp/liercomGrp4.png" /><br />
                        Vous devrez alors sélectionner le commercial concerné, puis vous devrez sélectionner l'un des groupes disponible dans la liste.<br />
                    <p />
                    <p>
                        <h3 class="help-section-header" id="AddSalesPerson"> <i class="fa fa-bookmark-o" aria-hidden="true"></i> L'ajout d'un nouveau commercial</h3>
                        En cliquant sur le bouton <img src="~/images/imgsrcn/sales/btnAdd.png" style="width:180px;" />,  vous pourrez créer un nouveau commercial à partir de son nom et de son prénom.<br />
                        <img class="doc-info-pic" style="max-width:450px;" src="~/images/imgsrcn/sales/create.png" /><br />
                    <p />
                    <p>
                        <h3 class="help-section-header" id="createGroup"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Création d'un groupe</h3>
                        En cliquant sur le bouton <img class="btnlog" src="~/images/imgsrcn/groups/btnCreate.png" />  vous pourrez créer un groupe en renseignant ses informations.<br />
                        <img class="doc-info-pic" src="~/images/imgsrcn/Groups/create.png" /><br />
                    <p />
                    <b>Note <i class="homepage-para-icon fa fa-lightbulb-o" aria-hidden="true"></i> </b> : Seulement les groupes qui ne sont pas rattachés à ce commercial s'afficheront.<br />
                    <img class="doc-info-pic" src="~/images/imgsrcn/salesGrp/liercomGrp5.png"><br /><p />
                    <b class="text-danger">Attention <i class="homepage-para-icon fa fa-warning" aria-hidden="true"></i> </b> : Si vous tentez de rattacher un commercial à un groupe qui possède une liaison non achevé, un message de confirmation s'affichera pour que vous validiez votre choix.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" id="infoSales">Informations des commerciaux</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        <h3 class="help-section-header" id="ConsultSales"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Consultation des commerciaux</h3>
                        Vous pouvez consulter les informations des commerciaux qui peuvent être rattachés à un groupe.<br />
                        <img class="doc-info-pic" src="~/images/imgsrcn/sales/sales.png" /><br />
                        Selon vos droits vous pourrez <img src="~/images/imgsrcn/sales/btnAdd.png" style="width:180px;" />, le <img class="btnlog" src="~/images/imgsrcn/sales/btnEdit.png" /> ou bien le
                        <img class="btnlog" src="~/images/imgsrcn/sales/btnDelete.png" />
                    <p />
                    <p>
                        <h3 class="help-section-header" id="AddSales"><i class="fa fa-bookmark-o" aria-hidden="true"></i> L'ajout d'un nouveau commercial</h3>
                        En cliquant sur le bouton <img src="~/images/imgsrcn/sales/btnAdd.png" style="width:180px;" />, vous pourrez créer un nouveau commercial à partir de son nom et de son prénom.<br />
                        <img class="doc-info-pic" style="max-width:450px;" src="~/images/imgsrcn/sales/create.png" /><br />
                    <p />
                    <p>
                        <h3 class="help-section-header" id="ModifySales"><i class="fa fa-bookmark-o" aria-hidden="true"></i> La modfication d'un commercial</h3>
                        Vous pouvez modifier le nom et le prénom d'un commercial en cliquant sur le bouton <img src="~/images/imgsrcn/sales/btnEdit.png" class="btnlog" />.<br />
                        <img class="doc-info-pic" style="max-width:450px;" src="~/images/imgsrcn/sales/edit.png" /><br />
                    <p />
                    <p>
                        <h3 class="help-section-header" id="DeleteSales"><i class="fa fa-bookmark-o" aria-hidden="true"></i> La suppression d'un commercial</h3>
                        En actionnant sur le bouton <img src="~/images/imgsrcn/sales/btnDelete.png" class="btnlog" />, vous aurez la possibilité de supprimer le commercial sélectionné.<br />
                        Le bouton de suppression sera activé seulement après votre confirmation.<br />
                    <p /><p />
                    <b class="text-danger">Attention <i class="homepage-para-icon fa fa-warning" aria-hidden="true"></i> </b> : Si vous supprimez un commercial toutes ses liaisons seront supprimés.<br /><p />
                    <img class="doc-info-pic" style="max-width:450px;" src="~/images/imgsrcn/sales/delete.png" /><br />
                    <p />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" id="infoGroups">Informations des groupes</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        <h3 class="help-section-header"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Consultation des groupes</h3>
                        Vous pouvez consulter les groupes en détails pour connaître leurs informations (régions, secteur d'activité, taille, ...).<br />
                        <img class="doc-info-pic" src="~/images/imgsrcn/Groups/groups.png" /><br />
                    <p />
                    <p>
                        <h3 class="help-section-header"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Modification d'un groupe</h3>
                        Vous avez la possibilité de modifier les informations d'un groupe en cliquant sur le bouton <img class="btnlog" src="~/images/imgsrcn/groups/btnEdit.png" /> .<br />
                        <img class="doc-info-pic" src="~/images/imgsrcn/Groups/edit.png" /><br />
                    <p />
                    <b class="text-danger">Attention <i class="homepage-para-icon fa fa-warning" aria-hidden="true"></i> </b> : En modifiant le commercial une nouvelle liaison se créera et mettra fin à la précédente.<p />
                    <p>
                        <h3 class="help-section-header"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Création d'un groupe</h3>
                        En cliquant sur le bouton <img class="btnlog" src="~/images/imgsrcn/groups/btnCreate.png" />  vous pourrez créer un groupe en renseignant ses informations.<br />
                        <img class="doc-info-pic" src="~/images/imgsrcn/Groups/create.png" /><br />
                    <p />
                </div>
            </div>
        </div>
        @if (User.IsInRole("GSA-ABW-SM-W"))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" id="linkPlaceGroup">Lier un établissement à un groupe</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            <h3 class="help-section-header"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Recherche de l'établissement</h3>
                            Vous pouvez rechercher un établissement en saisissant son nom, son siret, son adresse, sa date de création d'enregistrement dans CapData ou encore son N° capdata.<br />
                            <img class="doc-info-pic" src="~/images/imgsrcn/ETB/search2.png" />
                            <img class="doc-info-pic" src="~/images/imgsrcn/ETB/search1.png" />
                            <img class="doc-info-pic" src="~/images/imgsrcn/ETB/search3.png" />
                            <img class="doc-info-pic" src="~/images/imgsrcn/ETB/search4.png" /><br />

                            Une fois l'établissement trouvé vous pourrez passer à la seconde étape en cliquant sur le bouton <img class="btnlog" src="~/images/imgsrcn/ETB/btnSelect.png" />.<br />
                        <p />
                        <b>Note <i class="homepage-para-icon fa fa-lightbulb-o" aria-hidden="true"></i> </b> : Seulement les établissements qui ne sont pas encore rattachés à un groupe seront affichés.
                        <p />
                        <p>
                            <h3 class="help-section-header"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Rattachement à un groupe</h3>
                            Une recherche sera automatiquement effectuée à partir du nom de l'établissement ou du Siren si le Siret est renseigné.<br />
                            <img class="doc-info-pic" src="~/images/imgsrcn/ETB/step2-1.png" /><br />

                            Si le groupe qui a été trouvé ne correspond pas à celui que vous souhaitez, vous pourrez: <br />
                            - rechercher manuellement un groupe ou à partir d'un nouveau libellé tel que le nom du groupe, son siren <span class="text-danger">(uniquement si le groupe recherché est déjà rattaché à un établissement possédant un siren)</span>, sa taille, ...<br />
                            - rechercher le groupe à partir d'un mot clé présent dans le libellé du groupe<br />
                            - créer un nouveau groupe.<br />
                        <p />
                        Exemple de recherche par libelle: <br /><img class="doc-info-pic" src="~/images/imgsrcn/ETB/step2-3.png" /><br />
                        Exemple de recherche par mot clé: <br /><img class="doc-info-pic" src="~/images/imgsrcn/ETB/step2-4.png" /><br />
                        Exemple de création de groupe: <br /><img class="doc-info-pic" src="~/images/imgsrcn/ETB/step2-2.png" />

                        <p />
                        <p>
                            <h3 class="help-section-header"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Suppression de la liaison</h3>
                            En cliquant sur le bouton <img class="btnlog" src="~/images/imgsrcn/sales/btnDelete.png" />  vous supprimerez la liaison entre l'établissement et le groupe.<br />
                            L'établissement sera disponible pour être affecté un groupe dans l'onglet <a href="/SalesGroups/ETBGroups">Lier un établissement à un groupe</a>.<br />
                        <p />
                    </div>
                </div>
            </div>
        }
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5 " id="infoPlaces">Informations des établissements rattachés aux groupes</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        <h3 class="help-section-header"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Affichage des établissement rattachés aux groupes</h3><br />
                        Vous pouvez consulter les établissements et leurs groupes qui leurs sont rattachés.<br />
                        <img class="doc-info-pic" src="~/images/imgsrcn/GE/ge.png"><br />
                    <p />

                    <p>
                        <h3 class="help-section-header"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Modification de la liaison</h3><br />
                        Vous pouvez <img class="btnlog" src="~/images/imgsrcn/sales/btnEdit.png" /> la liaison entre l'établissement et son groupe.<br />
                        <img class="doc-info-pic" src="~/images/imgsrcn/GE/edit.png"><br />
                    <p />
                    <p>
                        <h3 class="help-section-header"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Suppression de la liaison</h3><br />
                        En cliquant sur le bouton <img class="btnlog" src="~/images/imgsrcn/sales/btnDelete.png" />  vous supprimerez la liaison entre l'établissement et le groupe.<br />
                        L'établissement sera disponible pour être affecté un groupe dans l'onglet <a href="/SalesGroups/ETBGroups">Lier une établissement à un groupe</a>.<br />
                    <p />
                    <p>
                        <h3 class="help-section-header"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Recherche d'une liaison</h3><br />
                        Vous pouvez rechercher une liaison à partir des informations d'un groupe ou d'un établissement (nom, siren, siret, région, ...) en saisissant l'une de ses informations<br /> dans la barre de recherche <img class="btnS" src="~/images/imgsrcn/GE/search.png" /> .<br />
                        <img class="doc-info-pic" src="~/images/imgsrcn/GE/research.png" /><br />
                        Pour supprimer une recherche et revenir à l'affichage principale, vous devrez cliquer sur ce bouton <img class="btnS" src="~/images/imgsrcn/GE/btnDeleteResearch.png" />.
                    <p />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6 " id="exportData">Exports des données</a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        <h3 class="help-section-header"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Affichage des établissement rattachés aux groupes</h3><br />
                        Vous pouvez exporter les données en cliquant sur <img class="" src="~/images/imgsrcn/export/exportBtn.png">.<br />
                        Si vous souhaitez exporter les données des établissements rattachés au groupe l'export n'est possible qu'en effectuant une recherche dans l'onglet <a href="/GE">Groupe-Etablissement</a>.<img class="doc-info-pic" src="~/images/imgsrcn/export/exportGE.png"><br />
                        <b>Note <i class="homepage-para-icon fa fa-lightbulb-o" aria-hidden="true"></i> </b> :  L'export peut prendre plus ou moins de temps selon les données demandées (l'export des données des groupes sera plus long que l'export des données des commerciaux par exemple).
                    <p />
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .panel-group {
        margin-left: 20%;
    }

    .doc-info-pic {
        max-width: 800px;
        height: auto;
        margin: 2% auto;
        display: block;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(112,112,112,1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(112,112,112,1);
        box-shadow: 0px 0px 5px 0px rgba(112,112,112,1);
    }

    .btnlog {
        max-width: 80px;
    }

    .btnS {
        max-width: 200px;
    }

    #myScrollspy {
        margin-top: 2%;
        margin-left: -10%;
    }

    .dropdown-toggle {
        color: #1d1d1b;
    }

        .dropdown-toggle:nth-of-type(5) {
            border-bottom: none;
        }

        .dropdown-toggle:hover {
            background-color: rgba(0, 171, 199, 0.4);
            transition: 0.3s;
        }

        .dropdown-toggle:active {
            background-color: rgba(0, 171, 199, 0.8) !important;
        }

    .help-nav {
        font-weight: 700;
        font-size: 1.5rem;
    }

        .help-nav a {
            color: #49aeb5 !important;
        }

        .help-nav li:active {
            color: white;
        }

    .help-section-header {
        color: #49aeb5;
        font-weight: 700;
        font-size: 1.9rem;
        margin: 4% 0 2%;
    }

    .hidden {
        display: none;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:active {
        background-color: #afafaf61 !important;
    }

    #myScrollspy {
        margin-left: -300px !important;
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>

@*<script>
        //Anchor transition
        $(document).ready(function () {
            $('a').on('click', function (evt) {
                evt.preventDefault();
                var target = $(this).attr('href');
                $('html, body')
                    .stop()
                    .animate({ scrollTop: $(target).offset().top }, 500);
            });
        });

        //top top appears after scrollTop

        $(document).ready(function () {
            var div = $(".arrowTop");
            var pos = div.position();
            $(window).scroll(function () {
                var windowpos = $(window).scrollTop();
                if (windowpos >= (pos.top - 10000)) {
                    div.addClass("afterScroll");
                } else {
                    s.removeClass("afterScroll");
                }
            });
        });

    </script>*@