﻿@model GeRSTCS
<label>Création du groupe:</label><br />
<div class="row">
    <div class="col-md-6">
        <span>Libellé:</span><input type="text" class="form-control" id="libelleGrp" value="" /><br />
        <span>Secteur:</span>
        <select class="form-control" id="secteurGrp" onchange="SetSegment();" data-live-search="true">
            @foreach (var secteur in Model.ListSecteur)
            {
                <option value="@secteur.IDSECTEUR">@secteur.LIBELLE</option>
            }
        </select><br /><p />
        <span>Région:</span>
        <select class="form-control" id="regionGrp" onchange="SetSegment();" data-live-search="true">
            @foreach (var region in Model.ListRegion)
            {
                <option value="@region.IDREGION">@region.REGION</option>
            }
        </select><br /><p />
        <span>Taille:</span>
        <select class="form-control" id="tailleGrp" onchange="SetSegment();GetSizeInfos(this.value)" data-live-search="true">
            @foreach (var taille in Model.ListTaille)
            {
                <option value="@taille.IDTAILLE">@taille.LIBELLE</option>
            }
        </select><br /><p /><p />
    </div>
    <div class="col-md-6">
        <span>Segment / Pôle:</span>
        <select class="form-control" id="selectSegment" data-live-search="true">
            @foreach (var segment in Model.ListSegment)
            {
                <option value="@segment.IDSEGMENT">@segment.LIBELLE</option>
            }
        </select><br /><p/>
        <span>Commercial:</span>
        <select class="form-control" id="selectCom" data-live-search="true">
            <option value="999">Non renseigné</option>
            @foreach (var com in Model.ListCom)
            {
                <option value="@com.IDCOMMERCIAL">@com.NOM @com.PRENOM </option>
            }
        </select><br />
        <div id="sizeInfo">
         
        </div>
    </div>
</div>

