﻿@model GeRSTCS

<input type="hidden" id="idGroupInput" value="" />
<input type="hidden" id="libelleGrpInput" value="" />
<input type="hidden" id="idRegionInput" value="" />
<input type="hidden" id="idSecteurInput" value="" />
<input type="hidden" id="idTailleInput" value="" />
<input type="hidden" id="idSegmentInput" value="" />
<input type="hidden" id="idComInput" value="" />

<div class="row">
    <div class="col-md-6">
        <span>Libellé:</span><input type="text" class="form-control" id="libelleInput" value="@Model.Grp.LIBELLE" oninput="ChangeInfos();" /><br />
        <span>Secteur:</span>
        <select class="form-control" id="secteurGrp" onchange="ChangeInfos(); SetSegment();" data-live-search="true">
            @foreach (var secteur in Model.ListSecteur)
            {
                <option value="@secteur.IDSECTEUR">@secteur.LIBELLE</option>
            }
        </select><br /><p />
        <span>Région:</span>
        <select class="form-control" id="regionGrp" onchange="ChangeInfos();SetSegment();" data-live-search="true">
            @foreach (var region in Model.ListRegion)
            {
                <option value="@region.IDREGION">@region.REGION</option>
            }
        </select><br /><p />
        <span>Taille:</span>
        <select class="form-control" id="tailleGrp" onchange="ChangeInfos();SetSegment();GetSizeInfos(this.value)" data-live-search="true">
            @foreach (var taille in Model.ListTaille)
            {
                <option value="@taille.IDTAILLE">@taille.LIBELLE</option>
            }
        </select><br /><p /><p />
    </div>
    <div class="col-md-6">
        <span>Segment / Pôle:</span>
        <select class="form-control" id="selectSegment" data-live-search="true" onchange="ChangeInfos();">
            @foreach (var segment in Model.ListSegment)
            {
                <option value="@segment.IDSEGMENT">@segment.LIBELLE</option>
            }
        </select><br /><p />
        <span>Commercial:</span>
        <select class="form-control" id="selectCom" data-live-search="true" onchange="ChangeInfos()">
            <option value="999">Non renseigné</option>
            @foreach (var com in Model.ListCom)
            {
                <option value="@com.IDCOMMERCIAL">@com.NOM @com.PRENOM </option>
            }
        </select><br />
        <div id="sizeInfo">

        </div>
        <label class="text-info hidden" id="editNote">Note <i class="homepage-para-icon fa fa-lightbulb-o" aria-hidden="true"></i> : Modifier le commercial créera une nouvelle correspondance et mettra fin à la précédente.</label><p/>
        <label class="text-danger hidden" id="editInfos">Attention <i class="homepage-para-icon fa fa-warning" aria-hidden="true"></i> : vous êtes en train de modifier les données du groupe.</label>
    </div>
</div>

