﻿@model List<GroupsCorrespondancesModel>
<span style="font-size:25px !important; margin-bottom:5% !important;">
    <span class="text-info">@Model.Count.ToString("n").Replace(",00", "") </span>groupes ont été trouvés. 
</span><p/><br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Libellé</th>
            <th>Région</th>
            <th>Secteur</th>
            <th>Taille</th>
            <th>Segment</th>
            <th>Date de création</th>
            <th>Commercial</th>
            @if (User.IsInRole("GSA-ABW-SM-W"))
            {
                <th>Modifier</th>
                <th>Supprimer</th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            string dtAdd = "";

            foreach (var corresp in Model)
            {
                dtAdd = corresp.DateAddGrp.HasValue ? dtAdd = corresp.DateAddGrp.Value.ToShortDateString() : dtAdd = "Non renseigné";

                <tr>
                    <td>@corresp.LibelleGroupe</td>
                    <td>@corresp.LibelleRegion</td>
                    <td>@corresp.LibelleSecteur</td>
                    <td>@corresp.LibelleTaille</td>
                    <td>@corresp.LibelleSegment</td>
                    <td class="date_Add">@dtAdd</td>
                    <td>@corresp.NomPrenomCommerial</td>
                    @if (User.IsInRole("GSA-ABW-SM-W"))
                    {
                        <td><button class="btn btn-warning" data-toggle="modal" data-target="#editGroupModal" onclick="FillEditModal('@corresp.IdGroupe', '@corresp.IdRegion', '@corresp.IdTaille','@corresp.IdSecteur', '@corresp.IdSegment', '@corresp.IdCom')">Modifier</button></td>
                        <td><button class="btn btn-danger" data-toggle="modal" data-target="#deleteGroupModal" data-idgroupe="@corresp.IdGroupe" data-libelle="@corresp.LibelleGroupe">Supprimer</button></td>

                    }
                </tr>
            }
        }

    </tbody>

</table>
