﻿@model SalesManagement.DataControllers.DATA_TAILLES
<table class="table table-bordered">
    <tr>
        <td>Effectif min</td>
        <td>Effectif max</td>
        <td>CA min</td>
        <td>CA max</td>
        <td>Bilan estimé</td>
        <td>Bilan réel</td>
    </tr>
    <tr>
        <td>@Model.EFFECTIF_MIN</td>
        <td>@Model.EFFECTIF_MAX</td>
        <td>@Model.CA_MIN</td>
        <td>@Model.CA_MAX</td>
        <td>@Model.BILAN_ESTIME</td>
        <td>@Model.BILAN_REEL</td>
    </tr>
</table>