﻿@model GeRSTCS

<h6>Taille: <span class="text-success">@Model.Grp.DATA_TAILLES.LIBELLE.Substring(0, 1).ToUpper()@Model.Grp.DATA_TAILLES.LIBELLE.Substring(1).ToLower()</span></h6>
<h6>Region: <span class="text-success">@Model.Grp.DATA_REGIONS.REGION</span></h6>
<h6>Secteur: <span class="text-success">@Model.Grp.DATA_SECTEURS.LIBELLE</span></h6>
<h6>Segment: <span class="text-success">@Model.Grp.DATA_SEGMENTS.LIBELLE.Substring(0, 1).ToUpper()@Model.Grp.DATA_SEGMENTS.LIBELLE.Substring(1).ToLower()</span> </h6>



