﻿<!DOOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sales Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/toastr.css")

    <link href="~/Content/design.css" rel="stylesheet" />
    <link href="~/DataTables/datatables.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Livvic|Merriweather&display=swap" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

</head>
<body>
    <div class='wrapper'>
        <div class='sidebar'>
            <div class='title'>Sales Management</div>
            <ul class='main-nav nav'>
                @{var canDo = "Informations des "; }
                <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                <li>@Html.ActionLink(canDo + "liaisons entre les commerciaux et les groupes", "Index", "SalesGroups")</li>
                <li>@Html.ActionLink(canDo + "commerciaux", "Index", "Sales")</li>
                <li>@Html.ActionLink(canDo + "groupes", "Index", "Groups")</li>
                @if (User.IsInRole("GSA-ABW-SM-W"))
                {
                    <li>@Html.ActionLink("Lier un établissement à un groupe", "Index", "ETB")</li>
                }
                <li>@Html.ActionLink("Informations des établissements rattachés aux groupes", "Index", "GE")</li>
                <li>@Html.ActionLink("Aide", "Index", "Help")</li>

                <li><a class="glyphicon navbar-logout glyphicon-off" href="#" data-toggle="modal" data-target="#logoutModal"></a></li>
            </ul>
        </div>
        <div class="container body-content">
            <div class="body">
                @RenderBody()
                <div class="modal fade" id="logoutModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title"><i class="fa fa-toggle-off" aria-hidden="true"></i> Déconnexion</h4>
                            </div>
                            <div class="modal-body">
                                <p>Voulez-vous vous déconnecter ?</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-default" href="Account/Logoff ">Oui</a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <footer class="footer">

                    <p>&copy; @DateTime.Now.Year - Abilways</p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <script src="~/Scripts/jquery.smartWizard.js"></script>
    <script src="~/DataTables/datatables.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    @Scripts.Render("~/signalr/hubs")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

</body>
</html>


<script>
    $(document).ready(function () {
        $('#createGroupModal').on('show.bs.modal', function (event) {
            $(".lbError").hide();

            var modal = $(this);

            modal.find('#libelleGrp').val("");

        });
        $('#deleteGE').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var etbid = button.data('etbid');
            var idgroupe = button.data('idgroupe');
            var modal = $(this);

            modal.find('#deleteGEetbid').val(etbid);
            modal.find('#deleteGEidgroupe').val(idgroupe);
        });

        $('#createGroupModalBtn').click(function () {
            $(".lbError").hide();

            $.ajax({
                url: '/Groups/AddGroup',
                success: function (data) {
                    $("#modal-bodyCreate").empty();
                    $("#modal-bodyCreate").append(data);
                    $("#modal-bodyCreate").append('<label class="text-danger col-lg-offset-1 lbError hidden" id="errorCreate"><i class="homepage-para-icon fa fa-warning" aria-hidden="true"></i>  Veuillez saisir tous les champs.</label>');
                    SetSegment();
                    GetSizeInfos($("#tailleGrp").val());
                }
            });
        });
        $(".lbError").hide();
    });
    function SetSegment() {

        var secteurForB2C = [99];
        var secteurForMedia = [13, 14];
        var secteurForSecteurPublic = [17, 18, 19, 20, 21, 22, 23];

        var secteurForIndustrie = [3, 5, 7, 8, 9, 10, 11, 16];
        var secteurForServices = [1, 2, 4, 6, 12, 15, 24, 25, 26];

        var GePmeMeEti = [1, 2, 3, 4];

        var secteur = parseInt($("#secteurGrp").val());
        var region = parseInt($("#regionGrp").val());
        var taille = parseInt($("#tailleGrp").val());

        if (region == 9 && contains.call(GePmeMeEti, taille) && (contains.call(secteurForIndustrie, secteur) || contains.call(secteurForServices, secteur))) { //Si la taille est une GePmeEti
            switch (true) {
                case contains.call(secteurForIndustrie, secteur): // Set Industrie
                    $("#selectSegment").val(3);
                    break;
                case contains.call(secteurForServices, secteur): // Set Service
                    $("#selectSegment").val(5);
                    break;
            }
        }
        switch (true) {
            case contains.call(secteurForB2C, secteur): // Set B2C
                $("#selectSegment").val(1);
                break;
            case contains.call(secteurForMedia, secteur): // Set Media
                $("#selectSegment").val(7);
                break;
            case contains.call(secteurForSecteurPublic, secteur): // Set secteur public
                $("#selectSegment").val(4);
                break;
            case contains.call(secteurForServices, secteur):
                $("#selectSegment").val(5);
                break;
            case contains.call(secteurForIndustrie, secteur):
                $("#selectSegment").val(3);
                break;
            default:
                $("#selectSegment").val(6);
        }
        var taille = parseInt($("#tailleGrp").val());
        var segment = parseInt($("#selectSegment").val());

        if (taille == 2 && (segment == 3 || segment == 5) && region != 9) {
            $("#selectSegment").val(2);
        }
        //$('#secteurGrp, #regionGrp, #tailleGrp, #selectSegment, #selectCom').selectpicker();
    }

    function CreateGroup() {
        var libelle = $("#libelleGrp").val();
        var idRegion = $("#regionGrp").val();
        var idTaille = $("#tailleGrp").val();
        var idSecteur = $("#secteurGrp").val();
        var idSegment = $("#selectSegment").val();
        var idCom = $("#selectCom").val();

        if (libelle != "") {
            $.ajax({
                url: "/Groups/CreateGroup?libelle=" + libelle + "&idRegion=" + idRegion + "&idTaille=" + idTaille + "&idSecteur=" + idSecteur + "&idSegment=" + idSegment + "&idCom=" + idCom,
                success: function (data) {
                    toastr.clear();
                    toastr.success("<br/>La création du groupe a été faite avec succès !", "ABILWAYS - Administration");
                    location.reload();
                }
            });
        }
        else {
            $("#errorCreate").show();
            $("#errorCreate").removeClass("hidden");
        }
    }

    function GetInfoGroup(idGroup) {
        $.ajax({
            url: '/Groups/GetInfosGroup?idGroup=' + idGroup + "&partialView=_InfosGroup_PartialView",
            success: function (data) {
                $("#infosGroup").empty();
                $("#infosGroup").html(data);
            }
        });
    }

    var contains = function (needle) {
        // Per spec, the way to identify NaN is that it is not equal to itself
        var findNaN = needle !== needle;
        var indexOf;

        if (!findNaN && typeof Array.prototype.indexOf === 'function') {
            indexOf = Array.prototype.indexOf;
        } else {
            indexOf = function (needle) {
                var i = -1, index = -1;

                for (i = 0; i < this.length; i++) {
                    var item = this[i];

                    if ((findNaN && item !== item) || item === needle) {
                        index = i;
                        break;
                    }
                }

                return index;
            };
        }

        return indexOf.call(this, needle) > -1;
    };

    function GetSizeInfos(idTaille) {
        $.ajax({
            url: "/Groups/GetSizeInfo?idTaille=" + idTaille,
            success: function (data) {
                $("#sizeInfo").empty();
                $("#sizeInfo").append(data);
            }
        })
    }
</script>

@if (!User.IsInRole("GSA-ABW-SM-W"))
{
    <script>
        $(document).ready(function () {
            $(".buttons-excel").hide();
        });
        $(document).ajaxStop(function () {
            $(".buttons-excel").hide();
        });
    </script>
}

<script>
    var url = $(location).attr('pathname');
    $(".main-nav > li > a").each(function (idx) {
        if ($(this).attr('href') == url) {
            $(this).addClass("bg-danger");
        }
    });
</script>