﻿<select class="form-control " id="selectGroup" onchange="GetInfoGroup(this.value)" data-live-search="true">
    @foreach (var grp in Model)
    {
        <option value="@grp.IDGROUPE">@grp.LIBELLE</option>
    }
</select>